<template>
  <div>
            <b-card>
                <h2>Editar Takeaway</h2>
                
                <validation-errors :errors="validationErrors" v-if="validationErrors"></validation-errors>

                <div class="form-group">
                    <label for="comentario">Comentário</label>
                    <textarea v-model="takeaway.comentario" id="comentario" name="comentario" class="form-control" :class="{ 'is-invalid': submitted && $v.comentario.$error }"/>
                    <div v-if="submitted && $v.comentario.$error" class="invalid-feedback">
                    <span v-if="!$v.comentario.required">Comentário é obrigatório</span>
                    <span v-if="!$v.comentario.minLength">Comentário tem de ter mais de 1 caracteres</span>
                    <span v-if="!$v.comentario.maxLength">Comentário tem de ter menos que 255 caracteres</span>
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block" v-on:click.prevent="saveTakeaway">Guardar</button>
                </div>
                <div class="form-group">
                    <button class="btn btn-danger btn-lg btn-block" v-on:click.prevent="cancelEdit">Cancel</button>
                </div>
            </b-card>
  </div>
</template>

<script>
import { required, minLength, maxLength } from "vuelidate/lib/validators";

export default {
  props: ["takeaway"],
  data: function() {
    return {
        submitted: false,
        beforeTakeawayComment: null,
        validationErrors: "",
        comentario: "",
    };
  },
  validations: {
    comentario: {
      required,
      minLength: minLength(2),
      maxLength: maxLength(255),
    }
  },
  methods: {
    saveTakeaway: function() {
        this.comentario = this.takeaway.comentario;
        
        this.submitted = true;
        this.$v.$touch();

        if (!this.$v.$invalid) {
            this.validationErrors = "";

            axios.put(`/api/takeaway/${this.takeaway.id}`, {
                comentario: this.comentario,
            }, 
            {
                headers: {
                    Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
            })
            .then(response => {
                this.beforeTakeawayComment = this.takeaway.comentario;
                this.$emit("cancel-edit");
                this.$toasted.show("takeaway editado com successo");
            })
            .catch(error => {
                if(error != null){
                    if (error.response.status == 422) {
                        this.validationErrors = error.response.data.errors;
                    }
                }
            });
        }
    },
    cancelEdit: function() {
      this.takeaway.comentario = this.beforeTakeawayComment;
      this.$emit("cancel-edit");
    },
  },
  mounted() {
      this.beforeTakeawayComment = this.takeaway.comentario;
  },
};
</script>

<style scoped>

</style>