<template>
  <div>
        <div class="p-5 col-md-12 text-center" >
          <a class="separator">Lista de Takeaways</a>
        </div>


      <div class="row">
        <div class="col-sm">
          <div class="col-sm">Restaurante</div>
          <input type="text" :disabled="order != null" class="form-control" v-model="restaurant" />
        </div>
        <div class="col-sm">
          <div class="col-sm">Pago</div>
          <select v-model="payed" :disabled="order != null" class="form-control">
            <option :value="null" selected></option>
            <option value="1">Sim</option>
            <option value="0">Não</option>
          </select>
        </div>
        <div class="col-sm">
          <div class="col-sm">Estado</div>
          <select v-model="status" :disabled="order != null" class="form-control">
            <option :value="null" selected></option>
            <option value="aceite">Aceite</option>
            <option value="em preparacao">Em preparação</option>
            <option value="pronto">Pronto</option>
            <option value="levantado">Levantado</option>
          </select>
        </div>
        <div class="col-sm">
          <div class="col-sm">Cancelado</div>
          <select v-model="disabled" :disabled="order != null" class="form-control">
            <option :value="null" selected></option>
            <option value="1">Sim</option>
            <option value="0">Não</option>
          </select>
        </div>
        <div class="col-sm">
          <div class="col-sm">Telemóvel</div>
          <input type="number" :disabled="order != null" class="form-control" v-model="phoneNumber" />
        </div>
        <div class="col-sm">
          <div class="col-sm">Ordenar por data:</div>
          <select v-model="order" @change="onOrderSelect($event)" class="form-control">
            <option :value="null" selected></option>
            <option value="asc">Asc</option>
            <option value="desc">Desc</option>
          </select>
        </div>
      </div>

      <b-button :disabled="processing" @click="filter()" variant="warning" class="btn-lg mt-2 mb-4" block>Filtrar</b-button>

      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>Data de entrega</th>
            <th>Restaurante</th>
            <th>Pago</th>
            <th>Estado</th>
            <th>Comentário</th>
            <th>Cancelado</th>
            <th>Cliente</th>
            <th>Telemóvel</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="takeaway in takeaways" v-bind:key="takeaway.id">
            <td>{{ takeaway.data }}</td>
            <td>{{ takeaway.restaurante }}</td>
            <td>{{ takeawayPayed(takeaway.pago) }}</td>
            <td>{{ takeawayStatus(takeaway.estado) }}</td>
            <td>{{ takeaway.comentario }}</td>
            <td>{{ takeawayDisabled(takeaway.cancelado) }}</td>
            <td>{{ takeaway.nome }}</td>
            <td>{{ takeaway.telemovel }}</td>
            <td>
                        <button
                        :class="takeaway.id"
                        v-if="loggedRole === 'admin' && !takeaway.cancelado"
                          @click="deactivateTakeaway(takeaway)"
                          class="btn btn-danger btn-lg"
                        >Desativar</button>
                        <button
                        :class="takeaway.id"
                        v-if="loggedRole === 'admin' && takeaway.cancelado"
                          @click="activateTakeaway(takeaway)"
                          class="btn btn-info btn-lg"
                        >Ativar</button>
                      <button
                      :class="takeaway.id"
                      v-if="takeaway.estado === 'aceite'"
                        @click="prepareTakeaway(takeaway)"
                        class="btn btn-success btn-lg"
                      >Confecionar</button>
                      <button
                      :class="takeaway.id"
                      v-if="takeaway.estado === 'em preparacao'"
                        @click="finishTakeaway(takeaway)"
                        class="btn btn-success btn-lg"
                      >Pronto</button>
                      <button
                      :class="takeaway.id"
                      v-if="takeaway.estado === 'pronto'"
                        @click="liftTakeaway(takeaway)"
                        class="btn btn-success btn-lg"
                      >Completar</button>
                <button
                    class="btn btn-success btn-lg"
                    @click="editTakeaway(takeaway)"
                  >Editar</button>
                  <button 
                    v-if="takeaway.pago"
                    class="btn btn-primary btn-lg"
                    @click="detailsTakeaway(takeaway)"
                  >Detalhes</button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr class="table-secondary">
            <td colspan="9" style="padding: 8px;">
              <div align="right">
                <a>Numero de Linhas: </a>
                <select v-model="pageSize" @change="resizePage()">
                  <option value="5" selected>5</option>
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                </select>
                <button
                  class="btn btn-secondary btn-sm"
                  :disabled="currentPage == 0 || processing"
                  @click="firstPage()"
                >0</button>
                <button
                  class="btn btn-secondary btn-sm"
                  :disabled="currentPage == 0 || processing"
                  @click="previousPage()"
                ><</button> <!-- não é um erro -->
                {{ currentPage }}
                <button
                  class="btn btn-secondary btn-sm"
                  :disabled="lastPage || processing"
                  @click="nextPage()"
                >></button>
              </div>
            </td>
          </tr>
        </tfoot>
      </table>
      <div class="jumbotron" v-if="editingTakeaway">
          <takeaway-edit
            :takeaway="currentTakeaway"
            @cancel-edit="cancelEdit"
          ></takeaway-edit>
      </div>



  </div>
</template>

<script>
export default {
  data() {
    return {
        disabled: null,
        status: null,
        payed: null,
        restaurant: "",
        phoneNumber: "",
        order: null,
        currentPage: 0,
        pageSize: 5,
        takeaways: [],
        updatingStatusTakeaway: false,
        loggedRole: "",
        editingTakeaway: false,
        processing: false,
        lastPage: false,
        currentTakeaway: null,
    };
  },
  methods: {
    takeawayDisabled(disabled){
      if (disabled) {
        return 'Sim';
      }else{
        return 'Não';
      }
    },
    takeawayPayed(payed){
      if (payed) {
        return 'Sim';
      }else{
        return 'Não';
      }
    },
    takeawayStatus(status){
      if (status === "aceite") {
        return 'Aceite';
      }
      if (status === "em preparacao") {
        return 'Em preparação';
      }
      if (status === "pronto") {
        return 'Pronto';
      }
      if (status === "levantado") {
        return 'Levantado';
      }
      return 'Unexpected Status';
    },
    prepareTakeaway(takeaway){
      this.toggleDisable(takeaway.id, true);
      axios
        .put(
          `/api/takeaway/${takeaway.id}/prepare`,
          {},
          {
            headers: {
              Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
          }
        )
        .then(response => {
          this.$toasted.show(response.data.msg);
          takeaway.estado = "em preparacao";
          this.toggleDisable(takeaway.id, false);
        })
        .catch(error => {
          this.toggleDisable(takeaway.id, false);
        });
    },
    finishTakeaway(takeaway){
      this.toggleDisable(takeaway.id, true);
      axios
        .put(
          `/api/takeaway/${takeaway.id}/finish`,
          {},
          {
            headers: {
              Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
          }
        )
        .then(response => {
          this.$toasted.show(response.data.msg);
          takeaway.estado = "pronto";
          this.toggleDisable(takeaway.id, false);
        })
        .catch(error => {
          this.toggleDisable(takeaway.id, false);
        });
    },
    liftTakeaway(takeaway){
      this.toggleDisable(takeaway.id, true);
      axios
        .put(
          `/api/takeaway/${takeaway.id}/lift`,
          {},
          {
            headers: {
              Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
          }
        )
        .then(response => {
          this.$toasted.show(response.data.msg);
          takeaway.estado = "levantado";
          this.toggleDisable(takeaway.id, false);
        })
        .catch(error => {
          this.toggleDisable(takeaway.id, false);
        });
    },
    updateList(takeaway){
      this.takeaways.push(takeaway)
    },
    activateTakeaway(takeaway) {
      this.toggleDisable(takeaway.id, true);
      axios
        .put(
          `/api/takeaway/${takeaway.id}/activate`,
          {},
          {
            headers: {
              Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
          }
        )
        .then(response => {
          this.$toasted.show(response.data.msg);
          takeaway.cancelado = false;
          this.toggleDisable(takeaway.id, false);
        })
        .catch(error => {
          this.toggleDisable(takeaway.id, false);
        });
    },
    deactivateTakeaway(takeaway) {
      this.toggleDisable(takeaway.id, true);
      axios
        .put(
          `/api/takeaway/${takeaway.id}/deactivate`,
          {},
          {
            headers: {
              Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
          }
        )
        .then(response => {
          this.$toasted.show(response.data.msg);
          takeaway.cancelado = true;
          this.toggleDisable(takeaway.id, false);
        })
        .catch(error => {
          this.toggleDisable(takeaway.id, false);
        });
    },
    cancelEdit() {
      this.editingTakeaway = false;
    },
    editTakeaway(takeaway) {
      if(this.currentTakeaway == takeaway){
        this.editingTakeaway = !this.editingTakeaway;
        return;
      }

      this.currentTakeaway = takeaway;
      this.editingTakeaway = false;
      this.editingTakeaway = true;
    },
    detailsTakeaway(takeaway){
        this.$router.push(`/backoffice/takeaway/${takeaway.id}/order`).catch(error =>{
          console.log(error);
        });
    },
    toggleDisable(className, value){
      var aux = document.getElementsByClassName(className);
      for (var i = 0; i < aux.length; i++) {
        aux[i].disabled = value;
      }
    },
    getTakeaways(page){
      this.processing = true;
      axios.get("/api/takeaways?" + this.querryString, {
        headers: {
          Authorization: "Bearer " + sessionStorage.getItem("id_token")
        }
      })
      .then(response => {
          if(response.data.takeaways != null){
              this.takeaways = response.data.takeaways;
          }
          if(response.data.pagination != null){
          this.lastPage = response.data.pagination.lastPage
        }
          this.processing = false;
      })
      .catch(error => {
        this.processing = false;
      });
    },
    firstPage(){
      this.currentPage = 0;
      this.getTakeaways(this.currentPage);
    },
    previousPage(){
      this.currentPage--;
      this.getTakeaways(this.currentPage);
    },
    nextPage(){
      this.currentPage++;
      this.getTakeaways(this.currentPage);
    },
    resizePage(){
      this.getTakeaways(this.currentPage);
    },
    filter(){
      this.currentPage = 0;
      this.getTakeaways(this.currentPage);
    },
    onOrderSelect(event){
      this.phoneNumber = "";
      this.restaurant = "";
      this.disabled = null;
      this.status = null;
      this.payed = null;
    },
  },
  computed: {
    querryString() {
      let qSConponentes = [];

      qSConponentes.push(`page=${this.currentPage}&pageSize=${this.pageSize}`);

      if (this.phoneNumber.length > 0) {
        qSConponentes.push(`phoneNumber=${this.phoneNumber}`);
      }
      if (this.restaurant.length > 0) {
        qSConponentes.push(`restaurant=${this.restaurant}`);
      }
      if (this.disabled != null) {
        qSConponentes.push(`disabled=${this.disabled}`);
      }
      if (this.status != null) {
        qSConponentes.push(`status=${this.status}`);
      }
      if (this.payed != null) {
        qSConponentes.push(`payed=${this.payed}`);
      }
      if (this.order != null) {
        qSConponentes.push(`order=${this.order}`);
      }

      return qSConponentes.join("&");
    }
  },
  mounted() {
    this.processing = true;
    this.loggedRole = sessionStorage.getItem("role");
    axios.get(`/api/takeaways?page=${this.currentPage}&pageSize=${this.pageSize}`, {
        headers: {
          Authorization: "Bearer " + sessionStorage.getItem("id_token")
        }
      })
      .then(response => {
          if(response.data.takeaways != null){
              this.takeaways = response.data.takeaways;
          }
          if(response.data.pagination != null){
            this.lastPage = response.data.pagination.lastPage
          }
        this.processing = false;
      })
      .catch(error => {
        this.processing = false;
      });
  },

};
</script>

<style scoped>
table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
</style>