<template>
  <div>
      <div class="p-5 col-md-12 text-center" >
        <a class="separator">Takeaway</a>
      </div>

      <div class="jumbotron">
          <div>
            <h2 class="font-weight-bold">Data de entrega:</h2>
            <h2>{{date}}</h2>
          </div>

          <br>

          <div>
            <h2 v-if="comment !== ''" class="font-weight-bold">Comentário:</h2>
            <h2>{{comment}}</h2>
          </div>
      </div>
      
      <div class="pb-5 col-md-12 text-center" >
        <a class="separator">Pedido</a>
      </div>

      <vue-good-table
        ref="vuegoodtable"
        :columns="columns"
        :rows="this.order"
        :search-options="{enabled: true, placeholder: 'Procura na tabela'}"
        :pagination-options="{ enabled: true, mode: 'pages', perPageDropdown: [10, 25, 50], dropdownAllowAll: false}">
          <template slot="table-row" slot-scope="props">
            <span v-if="props.column.field == 'preco'">
              <span v-if="props.row.promocao">
                {{props.row.preco}} Pts.
              </span>
              <span v-else>
                {{props.row.preco}} €
              </span>
            </span>
          </template>
      </vue-good-table>

      <br>

      <div class="pb-5 col-md-12 text-center" >
        <a class="separator">Cliente</a>
      </div>

      <div class="jumbotron">
          <div>
            <h2 class="font-weight-bold">Nome</h2>
            <h2>{{nome}}</h2>
          </div>

          <br>

          <div>
            <h2 class="font-weight-bold">Telemóvel</h2>
            <h2>{{telemovel}}</h2>
          </div>
      </div>

      <div class="form-group">
        <button class="btn btn-warning btn-lg btn-block" v-on:click.prevent="back">Voltar</button>
      </div>

  </div>
</template>

<script>
export default {
  data() {
    return {
        takeawayId: "",
        takeaway: null,
        comment: "",
        date: "",
        nome: "",
        telemovel: "",
        user: null,
        order: [],
        columns: [
          {
            label: 'Quantidade',
            field: 'quantidade',
            sortable: false,
          },
          {
            label: 'Menu',
            field: 'menu',
          },
          {
            label: 'Preço',
            field: 'preco',
            sortable: false,
          }
        ]
    };
  },
  methods: {
    back(){
        this.$router.go(-1);
    },
  },
  computed: {

  },
  mounted() {
    this.takeawayId = this.$route.params.takeawayId
    
    axios.get(`/api/takeaway/${this.takeawayId}`, {
        headers: {
          Authorization: "Bearer " + sessionStorage.getItem("id_token")
        }
      })
      .then(response => {
          if(response.data.takeaway != null){
            this.takeaway = response.data.takeaway;
            this.comment = this.takeaway.comentario;
            this.date = this.takeaway.data;
            this.telemovel = this.takeaway.telemovel;
            this.nome = this.takeaway.nome;
            if(response.data.order != null){
              this.order = response.data.order;
            }
          }
      })
      .catch(error => {
        
      });
      
  },
};
</script>

<style scoped>

</style>