<template>
  <div>
        <b-button v-b-toggle.collapse-adicionar-excecao class="btn-lg" variant="success" block>Criar exceção ao horário</b-button>
        <b-collapse id="collapse-adicionar-excecao" class="mt-2">
            <b-card>
              <div class="p-5 col-md-12 text-center" >
                  <a class="separator">Criar exceção ao horário</a>
                </div>

                <validation-errors :errors="validationErrors" v-if="validationErrors"></validation-errors>

                <div class="form-group">
                    <label for="dataInicio">Data e hora de início:</label>
                    <input v-model="dataInicio" id="dataInicio" type="datetime-local" name="dataInicio" class="form-control"/>
                </div>

                <div class="form-group">
                    <label for="dataFim">Data e hora de fim:</label>
                    <input v-model="dataFim" id="dataFim" type="datetime-local" name="dataFim" class="form-control"/>
                </div>

                <div class="form-group">
                    <label>Aceita reservas</label>
                    <select
                        class="form-control"
                        id="aceitaReservas"
                        v-model="aceitaReservas"
                        required
                    >
                        <option :value='null' selected></option>
                        <option :value='true'>Sim</option>
                        <option :value='false'>Nao</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Aceita pedidos de takeaway</label>
                    <select
                        class="form-control"
                        id="aceitaTakeaways"
                        v-model="aceitaTakeaways"
                        required
                    >
                        <option :value='null' selected></option>
                        <option :value='true'>Sim</option>
                        <option :value='false'>Nao</option>
                    </select>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block" :disabled="processing" v-on:click.prevent="createScheduleException">Criar</button>
                </div>
            </b-card>
            <br>
        </b-collapse>
  </div>
</template>

<script>
export default {
  props: ['restaurantName'],
  data() {
    return {
        validationErrors: "",
        dataInicio: null,
        dataFim: null,
        aceitaReservas: '',
        aceitaTakeaways: '',
        processing: false
    };
  },
  methods: {
    createScheduleException(){
        if(this.processing){
          return;
        }else{
          this.processing = true;
        }

        this.validationErrors = "";

        axios.post(`/api/restaurant/${this.restaurantName}/scheduleException`, {
            dataInicio: this.dataInicio,
            dataFim: this.dataFim,
            aceitaReservas: this.aceitaReservas,
            aceitaTakeaways: this.aceitaTakeaways,
          },
          {
            headers: {
              Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
          })
          .then(response => {
            this.$emit("schedule-exception-created", response.data.data);
            this.$toasted.show('Exceção ao horário criada!');
            this.processing = false;
          })
          .catch(error => {
            if(error != null){
              if (error.response.status == 422) {
                this.validationErrors = error.response.data.errors;
              }
            }
            this.processing = false;
          });
      }
  },
  computed: {

  },
  mounted() {

  },

};
</script>

<style>

</style>