<template>
  <div>
            <b-card>
                <h2>Editar exceção ao horário</h2>
                
                <validation-errors :errors="validationErrors" v-if="validationErrors"></validation-errors>

                <div class="form-group">
                    <label>Aceita reservas</label>
                    <select
                        class="form-control"
                        id="aceitaReservas"
                        v-model="scheduleException.aceitaReservas"
                        required
                    >
                        <option :value='null'></option>
                        <option :value='true'>Sim</option>
                        <option :value='false'>Nao</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Aceita pedidos de takeaway</label>
                    <select
                        class="form-control"
                        id="aceitaTakeaways"
                        v-model="scheduleException.aceitaTakeaways"
                        required
                    >
                        <option :value='null'></option>
                        <option :value='true'>Sim</option>
                        <option :value='false'>Nao</option>
                    </select>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block" v-on:click.prevent="saveScheduleException">Guardar</button>
                </div>
                <div class="form-group">
                    <button class="btn btn-danger btn-lg btn-block" v-on:click.prevent="cancelEdit">Cancel</button>
                </div>
            </b-card>
  </div>
</template>

<script>
export default {
  props: ['scheduleException', 'restaurantName'],
  data: function() {
    return {
        beforeAceitaReservas: null,
        beforeAceitaTakeaways: null,
        submitted: false,
        validationErrors: "",
        aceitaReservas: '',
        aceitaTakeaways: '',
    };
  },
  methods: {
    saveScheduleException: function() {
        this.aceitaReservas = this.scheduleException.aceitaReservas;
        this.aceitaTakeaways = this.scheduleException.aceitaTakeaways;

            this.validationErrors = "";

            axios.put(`/api/restaurant/${this.restaurantName}/scheduleException/${this.scheduleException.id}`, {
                aceitaReservas: this.aceitaReservas,
                aceitaTakeaways: this.aceitaTakeaways
            }, 
            {
                headers: {
                    Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
            })
            .then(response => {
                this.beforeAceitaReservas = this.scheduleException.aceitaReservas;
                this.beforeAceitaTakeaways = this.scheduleException.aceitaTakeaways;
                this.$emit("cancel-edit-exception");
                this.$toasted.show("Exceção ao horário editada com successo");
            })
            .catch(error => {
                if(error != null){
                    if (error.response.status == 422) {
                        this.validationErrors = error.response.data.errors;
                    }
                }
            });
    },
    cancelEdit: function() {
      this.scheduleException.aceitaReservas = this.beforeAceitaReservas;
      this.scheduleException.aceitaTakeaways = this.beforeAceitaTakeaways;
      this.$emit("cancel-edit-exception");
    }
  },
  mounted() {
      this.beforeAceitaReservas = this.scheduleException.aceitaReservas;
      this.beforeAceitaTakeaways = this.scheduleException.aceitaTakeaways;
  },
};
</script>

<style scoped>

</style>