<template>
  <div>
        <b-button v-b-toggle.collapse-1 variant="success" v-on:click.prevent="getRestaurants()" class="btn-lg" block>Criar Promoção</b-button>
        <b-collapse id="collapse-1" class="mt-2">
            <b-card>
              <div class="p-5 col-md-12 text-center" >
                  <a class="separator">Criar Promoção</a>
                </div>

                <validation-errors :errors="validationErrors" v-if="validationErrors"></validation-errors>

                <div class="form-group">
                    <label for="pontos">Custo de pontos</label>
                    <input v-model="pontos" id="pontos" type="number" name="pontos" class="form-control" :class="{ 'is-invalid': submitted && $v.pontos.$error }"/>
                    <div v-if="submitted && $v.pontos.$error" class="invalid-feedback">
                    <span v-if="!$v.pontos.required">Custo de pontos é obrigatório</span>
                    <span v-if="!$v.pontos.integer">Custo de pontos só pode ser constituido por numeros</span>
                    <span v-if="!$v.pontos.minValue">Custo de pontos tem de ser positivo</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="nomeRestaurante">Nome do restaurante</label>
                    <select
                        class="form-control"
                        id="nomeRestaurante"
                        v-model="nomeRestaurante"
                        required
                        @change="restauranteChoosed()"
                        :disabled="pontosSelected"
                        :class="{ 'is-invalid': submitted && $v.nomeRestaurante.$error }">
                        <option v-for="restaurante in restaurantNames" :value="restaurante.nome" :key="restaurante.nome">{{restaurante.nome}}</option>
                    </select>
                    <div v-if="submitted && $v.nomeRestaurante.$error" class="invalid-feedback">
                        <span v-if="!$v.nomeRestaurante.required">Nome do restaurante é obrigatório</span>
                        <span v-if="!$v.nomeRestaurante.minLength">Nome do restaurante tem de ter mais de 1 caracteres</span>
                        <span v-if="!$v.nomeRestaurante.maxLength">Nome do restaurante tem de ter menos que 64 caracteres</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="nomeCategoria">Nome da categoria</label>
                    <select
                        class="form-control"
                        id="nomeCategoria"
                        v-model="nomeCategoria"
                        required
                        @change="categoryChoosed()"
                        :disabled="restauranteSelected"
                        :class="{ 'is-invalid': submitted && $v.nomeCategoria.$error }">
                        <option v-for="category in categorias" :value="category.nome" :key="category.nome">{{category.nome}}</option>
                    </select>
                    <div v-if="submitted && $v.nomeCategoria.$error" class="invalid-feedback">
                        <span v-if="!$v.nomeCategoria.required">Nome da categoria é obrigatório</span>
                        <span v-if="!$v.nomeCategoria.minLength">Nome da categoria tem de ter mais de 1 caracteres</span>
                        <span v-if="!$v.nomeCategoria.maxLength">Nome da categoria tem de ter menos que 64 caracteres</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="nomeItem">Nome do menu afetado</label>
                    <select
                        class="form-control"
                        id="nomeItem"
                        v-model="nomeItem"
                        required
                        :disabled="categorySelected"
                        :class="{ 'is-invalid': submitted && $v.nomeItem.$error }">
                        <option v-for="item in itemNames" :value="item.nome" :key="item.nome">{{item.nome}}</option>
                    </select>
                    <div v-if="submitted && $v.nomeItem.$error" class="invalid-feedback">
                        <span v-if="!$v.nomeItem.required">Nome do menu afetado é obrigatório</span>
                        <span v-if="!$v.nomeItem.minLength">Nome do menu afetado tem de ter mais de 1 caracteres</span>
                        <span v-if="!$v.nomeItem.maxLength">Nome do menu afetado tem de ter menos que 64 caracteres</span>
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block" :disabled="processing" v-on:click.prevent="createPromotion">Criar</button>
                </div>
            </b-card>
            <br>
        </b-collapse>
  </div>
</template>

<script>
import { required, minLength, maxLength, integer, minValue } from "vuelidate/lib/validators";

export default {
  data() {
    return {
        submitted: false,
        validationErrors: "",
        pontos: null,
        restaurantNames: [],
        categorias: [],
        itemNames: [],
        nomeRestaurante: "",
        nomeCategoria: "",
        nomeItem: "",
        pontosSelected: true,
        restauranteSelected: true,
        categorySelected: true,
        processing: false
    };
  },
  validations: {
    pontos: {
      required,
      integer,
      minValue: minValue(0),
    },
    nomeRestaurante: {
      required,
      minLength: minLength(2),
      maxLength: maxLength(64),
    },
    nomeCategoria: {
      required,
      minLength: minLength(2),
      maxLength: maxLength(64),
    },
    nomeItem: {
      required,
      minLength: minLength(2),
      maxLength: maxLength(64),
    }
  },
  methods: {
    getRestaurants(){
      if(this.restaurantNames.length == 0){
        axios.get("/api/restaurants/names", {
          headers: {
            Authorization: "Bearer " + sessionStorage.getItem("id_token")
          }
        })
        .then(response => {
            if(response.data.names != null){
                this.restaurantNames = response.data.names;
                this.pontosSelected = false;
            }
        })
        .catch(error => {

        });
      }
    },
    createPromotion(){
      this.submitted = true;
      this.$v.$touch();

      if (!this.$v.$invalid) {

        if(this.processing){
          return;
        }else{
          this.processing = true;
        }

        this.validationErrors = "";

        axios.post("api/promotion", {
            pontos: this.pontos,
            nomeRestaurante: this.nomeRestaurante,
            nomeCategoria: this.nomeCategoria,
            nomeItem: this.nomeItem,
          },
          {
            headers: {
              Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
          })
          .then(response => {
            this.$emit("promotion-created", response.data.data);
            this.$toasted.show('Promoção criada!');
            this.processing = false;
          })
          .catch(error => {
            if(error != null){
              if (error.response.status == 422) {
                this.validationErrors = error.response.data.errors;
              }
            }
            this.processing = false;
          });
      }
    },
    restauranteChoosed(){
        axios.get(`/api/restaurant/${this.nomeRestaurante}/categories`, {
            headers: {
            Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
        })
        .then(response => {
            if(response.data.categorias != null){
                this.categorias = response.data.categorias;
                this.itemNames = null;
                this.categorySelected = true;
                this.restauranteSelected = false;
                this.nomeCategoria = ""
                this.nomeItem = ""
            }else{
                this.categorias = null;
                this.itemNames = null;
                this.restauranteSelected = true;
                this.categorySelected = true;
                this.nomeCategoria = ""
                this.nomeItem = ""
            }
        })
        .catch(error => {

        });
    },
    categoryChoosed(){
        axios.get(`/api/restaurant/${this.nomeRestaurante}/category/${this.nomeCategoria}/menus/simplified`, {
            headers: {
            Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
        })
        .then(response => {
            if(response.data.names != null){
                this.itemNames = response.data.names;
                this.categorySelected = false;
                this.nomeItem = ""
            }else{
                this.itemNames = null;
                this.categorySelected = true;
                this.nomeItem = ""
            }
        })
        .catch(error => {

        });
    },
  },
  computed: {

  },
  mounted() {

  },

};
</script>

<style>

</style>