<template>
  <div>
            <b-card>
                <h2>Editar Promoção</h2>
                
                <validation-errors :errors="validationErrors" v-if="validationErrors"></validation-errors>

                <div class="form-group">
                    <label for="pontos">Custo de Pontos</label>
                    <input v-model="promotion.pontos" id="pontos" name="pontos" class="form-control" :class="{ 'is-invalid': submitted && $v.pontos.$error }"/>
                    <div v-if="submitted && $v.pontos.$error" class="invalid-feedback">
                    <span v-if="!$v.pontos.required">Custo de Pontos é obrigatório</span>
                    <span v-if="!$v.pontos.integer">Custo de Pontos só pode ser constituido por numeros</span>
                    <span v-if="!$v.pontos.minValue">Custo de Pontos tem de ser positivo</span>
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block" v-on:click.prevent="savePromotion">Guardar</button>
                </div>
                <div class="form-group">
                    <button class="btn btn-danger btn-lg btn-block" v-on:click.prevent="cancelEdit">Cancel</button>
                </div>
            </b-card>
  </div>
</template>

<script>
import { required, integer, minValue } from "vuelidate/lib/validators";

export default {
  props: ["promotion"],
  data: function() {
    return {
        submitted: false,
        beforePromotionPontos: null,
        validationErrors: "",
        pontos: "",
    };
  },
  validations: {
    pontos: {
        required,
        integer,
        minValue: minValue(0),
    }
  },
  methods: {
    savePromotion: function() {
        this.pontos = this.promotion.pontos;
        
        this.submitted = true;
        this.$v.$touch();

        if (!this.$v.$invalid) {
            this.validationErrors = "";

            axios.put(`/api/promotion/${this.promotion.id}`, {
                pontos: this.pontos,
            }, 
            {
                headers: {
                    Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
            })
            .then(response => {
                this.beforePromotionPontos = this.promotion.pontos;
                this.$emit("cancel-edit");
                this.$toasted.show("promoção editada com successo");
            })
            .catch(error => {
                if(error != null){
                    if (error.response.status == 422) {
                        this.validationErrors = error.response.data.errors;
                    }
                }
            });
        }
    },
    cancelEdit: function() {
      this.promotion.pontos = this.beforePromotionPontos;
      this.$emit("cancel-edit");
    },
    imageChanged(event) {
            let fileReader = new FileReader();
            try{
                fileReader.readAsDataURL(event.target.files[0]);
                fileReader.onload = event => {
                    this.photo = event.target.result;
                };
            }catch(error){
              console.log(error);
            }
        }
  },
  mounted() {
      this.beforePromotionPontos = this.promotion.pontos;
  },
};
</script>

<style scoped>

</style>