<template>
  <div>
        <div class="p-5 col-md-12 text-center" >
          <a class="separator">Lista de Promoções</a>
        </div>

        <promotion-create @promotion-created="updateList"></promotion-create>
        
        <vue-good-table
        ref="vuegoodtable"
        :columns="columns"
        :rows="this.promotions"
        :search-options="{enabled: true, placeholder: 'Procura na tabela'}"
          @on-page-change="onPageChange"
          @on-per-page-change="onPageSizeChange"
        :pagination-options="{ enabled: true, mode: 'pages', perPageDropdown: [5, 10, 25, 50], dropdownAllowAll: false}">
          <template slot="table-row" slot-scope="props">
            <span v-if="props.column.field == 'disabled'">
              <span v-if="props.row.disabled">
                Sim
              </span>
              <span v-else>
                Não
              </span>
            </span>
            <span v-else-if="props.column.field == 'actions'">
                <span v-if="!props.row.disabled">
                      <button
                        @click="deactivatePromotion(props)"
                        class="btn btn-danger btn-lg"
                      >Desativar</button>
                </span>
                <span v-else>
                      <button
                        @click="activatePromotion(props)"
                        class="btn btn-info btn-lg"
                      >Ativar</button>
                </span>
                <button
                    class="btn btn-success btn-lg"
                    @click="editPromotion(props)"
                  >Editar</button>
            </span>
          </template>
        </vue-good-table>
        <div class="jumbotron" v-if="editingPromotion">
          <promotion-edit
            :promotion="currentPromotion"
            @cancel-edit="cancelEdit"
          ></promotion-edit>
        </div>
  </div>
</template>

<script>
import { required, email, minLength, maxLength } from "vuelidate/lib/validators";

export default {
  data() {
    return {
        currentPage: 0,
        currentPageSize: 5,
        promotions: [],
        editingPromotion: false,
        columns: [
          {
            label: 'Pontos',
            field: 'pontos',
            sortable: false
          },
          {
            label: 'Nome do restaurante',
            field: 'restaurante',
            filterOptions: {
              enabled: true,
            }
          },
          {
            label: 'Nome da categoria',
            field: 'categoria',
            filterOptions: {
              enabled: true,
            }
          },
          {
            label: 'Nome do menu',
            field: 'item',
            filterOptions: {
              enabled: true,
            }
          },
          {
            label: 'Desativado',
            field: 'disabled',
            sortable: false,
            filterOptions: {
              enabled: true,
              placeholder: " ",
              filterDropdownItems: [  
                { value: true, text: 'Sim' },  
                { value: false, text: 'Não' }
              ],
            }
          },
          {
            label: 'Ações',
            field: 'actions',
            sortable: false,
            width: '250px'
          }
        ]
    };
  },
  methods: {
    onPageChange(params){
      this.currentPage = params.currentPage - 1;
    },
    onPageSizeChange(params){
      this.currentPageSize = params.currentPerPage
    },
    updateList(promotion){
      this.promotions.push(promotion)
    },
    activatePromotion(props) {
      axios
        .put(
          `/api/promotion/${props.row.id}/activate`,
          {},
          {
            headers: {
              Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
          }
        )
        .then(response => {
          this.$toasted.show(response.data.msg);
          this.promotions[props.index + (this.currentPage * this.currentPageSize)].disabled = false;
        })
        .catch(error => {

        });
    },
    deactivatePromotion(props) {
      axios
        .put(
          `/api/promotion/${props.row.id}/deactivate`,
          {},
          {
            headers: {
              Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
          }
        )
        .then(response => {
          this.$toasted.show(response.data.msg);
          this.promotions[props.index + (this.currentPage * this.currentPageSize)].disabled = true;
        })
        .catch(error => {

        });
    },
    cancelEdit() {
      this.editingPromotion = false;
    },
    editPromotion(props) {
      var promotion = this.promotions[props.index + (this.currentPage * this.currentPageSize)];
      if(this.currentPromotion == promotion){
        this.editingPromotion = !this.editingPromotion;
        return;
      }

      this.currentPromotion = promotion;
      this.editingPromotion = false;
      this.editingPromotion = true;
    }
  },
  computed: {

  },
  mounted() {
    axios.get("/api/promotions", {
        headers: {
          Authorization: "Bearer " + sessionStorage.getItem("id_token")
        }
      })
      .then(response => {
          if(response.data.promotions != null){
              this.promotions = response.data.promotions;
          }
      })
      .catch(error => {
        
      });
  },

};
</script>

<style scoped>

</style>