<template>
        <b-navbar toggleable="lg" sticky type="dark" variant="dark">
          <b-navbar-brand to="/"><img src="static/logo.png" style="width:40px;"></b-navbar-brand>
      
          <b-navbar-toggle target="nav-collapse">
            <span class="navbar-toggler-icon"></span>
          </b-navbar-toggle>

          <b-collapse id="nav-collapse" class="navbar-collapse" style="width:100%;" is-nav>
            <b-navbar-nav class="mx-auto">
              <b-nav-item class="pl-3 pr-3" to="/about">Sobre</b-nav-item>
              <b-nav-item class="pl-3 pr-3" to="/restaurants">Restaurantes</b-nav-item>
              <b-nav-item class="pl-3 pr-3" to="/menus">Ementas</b-nav-item>
              <b-nav-item class="pl-3 pr-3" to="/appPromotion">Aplicação</b-nav-item>
              <b-nav-item class="pl-3 pr-3" v-on:click="logout" v-if="this.$store.state.id_token != null">Sair</b-nav-item>
            </b-navbar-nav>
          </b-collapse>
        </b-navbar>
</template>

<script>
export default {
  data() {
    return {
      restaurants: [],
      processing: false
    };
  },
  methods: {
      logout() {

        if(this.processing){
          return;
        }else{
          this.processing = true;
        }

        this.$root.logout();
      }
  },
  computed: {

  },
  mounted() {

  },

};
</script>

<style scoped>

</style>