<template>
    <div class="sidebar">
      <b-link to="/"><img src="static/logo.png" class="imageTop"></b-link>
      <b-link to="/backoffice/dashboard" v-if="this.$store.state.id_token != null && (this.$store.state.role == 'admin' || this.$store.state.role == 'employee')"><i class="fa fa-fw fa-home"></i> Dashboard</b-link>
      <b-link to="/backoffice/users" v-if="this.$store.state.id_token != null && this.$store.state.role == 'admin'"><i class="fa fa-fw fa-user"></i> Utilizadores</b-link>
      <b-link to="/backoffice/restaurants" v-if="this.$store.state.id_token != null && this.$store.state.role == 'admin'"><i class="fa fa-fw fa-building"></i> Restaurantes</b-link>
      <b-link to="/backoffice/reservations" v-if="this.$store.state.id_token != null && (this.$store.state.role == 'admin' || this.$store.state.role == 'employee')"><i class="fa fa-fw fa-book"></i> Reservas</b-link>
      <b-link to="/backoffice/takeaways" v-if="this.$store.state.id_token != null && (this.$store.state.role == 'admin' || this.$store.state.role == 'employee')"><i class="fa fa-fw fa-truck"></i> Takeaways</b-link>
      <b-link to="/backoffice/promotions" v-if="this.$store.state.id_token != null && this.$store.state.role == 'admin'"><i class="fa fa-fw fa-tags"></i> Promoções</b-link>
      <b-link to="/backoffice/messages" v-if="this.$store.state.id_token != null && this.$store.state.role == 'admin'"><i class="fa fa-fw fa-envelope"></i> Notificações</b-link>
      <!--<b-link to="/backoffice/reviews" v-if="this.$store.state.id_token != null && this.$store.state.role == 'admin'"><i class="fa fa-bar-chart"></i> Estatisticas</b-link>-->
      <a href="/" v-on:click.prevent="logout" v-if="this.$store.state.id_token != null"><i class="fa fa-fw fa-sign-in"></i> Sair</a>
      <b-link to="/backoffice/login" v-if="this.$store.state.id_token == null"><i class="fa fa-fw fa-sign-in"></i> Entrar</b-link>
    </div>
</template>

<script>
/* package only used by the backoffice components */
import Vue from 'vue';
import Vuelidate from 'vuelidate';
import VueGoodTablePlugin from 'vue-good-table';

import 'vue-good-table/dist/vue-good-table.css'
import 'vue-select/dist/vue-select.css';

Vue.use(Vuelidate);
Vue.use(VueGoodTablePlugin);

export default {
  data() {
      return {
        processing: false
      };
  },
  components: {

  },
  methods: {
      logout() {

        if(this.processing){
          return;
        }else{
          this.processing = true;
        }

        this.$root.logout();
      }
  },
  computed: {

  },
  mounted() {
    
  },

};
</script>

<style>

</style>