html {
  scroll-behavior: smooth;
}

body{
	min-height: 100%;
	min-width: 400px;
	overflow-x: hidden;
	background: white;
}

  /* width */
  ::-webkit-scrollbar {
	width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track { 
	border-radius: 10px;
	background-color: #cbcbcb;
  
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #1f1f1f;
	border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #3e3e3e; 
  }
  
  ::-webkit-scrollbar-thumb:focus {
	background: #6e6e6e; 
	}
	

.nav-item {
	padding-left: 50px;
	padding-right: 50px;
	letter-spacing: 1.5px;
  text-transform: uppercase;
}

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #26252E;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.imageTop {
  width:100%; 
  max-width:100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.abutton{
  color: white;
}

/* Sidebar links */
.sidebar a {
	text-align: center;
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  color: grey;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 15%;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.separator{
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: 50px !important;
  border: none;
  border-bottom: 2px solid #783800 !important;
  text-align: center;
  text-decoration: none;
  font-size: 200%;
  padding: 5px 20px;
}

.parallaxTitleText {
  color: white;
  font-weight: bold !important;
  text-transform: uppercase;
  font-size: 300% !important;
  font-family: "Segoe UI";
}

.square{
	background-color: #c18837;
	color: white;
	cursor: pointer;
	transition: all 0.5s;
	width: 100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
}

.square:hover{
	box-shadow: 0px 0px 10px grey;
}

.square i{
	font-size: 50pt;
}

.square h5{
	text-transform: uppercase;
  font-weight: bold;
  font-size: 10pt;
  letter-spacing: 2px;
}

.parallaxApp {
  background: url('/static/android_darkened.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed; 
  object-fit: cover;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallaxMenus {
  background: url('/static/menus_darkened.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  object-fit: cover; 
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallaxRestaurant {
  background: url('/static/restaurants_darkened.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed; 
  object-fit: cover;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallaxAbout {
  background: url('/static/about_darkened.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed; 
  object-fit: cover;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backofficeButtonText {
  font-weight: bold !important;
  text-transform: uppercase;
  font-size: 100% !important;
  font-family: "Segoe UI";
}