<template>
  <div>
        <b-button v-b-toggle.collapse-adicionar-allergen class="btn-lg" variant="success" block>Criar Alergénico</b-button>
        <b-collapse id="collapse-adicionar-allergen" class="mt-2">
            <b-card>
                <div class="p-5 col-md-12 text-center" >
                  <a class="separator">Criar Alergénico</a>
                </div>

                <validation-errors :errors="validationErrors" v-if="validationErrors"></validation-errors>

                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input v-model="nome" id="nome" name="nome" class="form-control" :class="{ 'is-invalid': submitted && $v.nome.$error }"/>
                    <div v-if="submitted && $v.nome.$error" class="invalid-feedback">
                    <span v-if="!$v.nome.required">Nome é obrigatório</span>
                    <span v-if="!$v.nome.minLength">Nome tem de ter mais de 1 caracteres</span>
                    <span v-if="!$v.nome.maxLength">Nome tem de ter menos que 64 caracteres</span>
                    </div>
                </div>

                <div class="form-group">
                  <label for="photo">Imagem</label>
                  <br>
                  <input type="file" accept="image/png" id="photo" name="photo" class="form-control-file" @change="imageChanged"/>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block" :disabled="processing" v-on:click.prevent="createAllergen">Criar</button>
                </div>
            </b-card>
            <br>
        </b-collapse>
  </div>
</template>

<script>
import { required, minLength, maxLength } from "vuelidate/lib/validators";

export default {
  props: ['restaurantName', 'categoryName', 'itemName'],
  data() {
    return {
        submitted: false,
        validationErrors: "",
        nome: "",
        photo: null,
        processing: false
    };
  },
  validations: {
    nome: {
      required,
      minLength: minLength(2),
      maxLength: maxLength(64),
    },
  },
  methods: {
    createAllergen(){
      this.submitted = true;
      this.$v.$touch();

      if (!this.$v.$invalid) {

        if(this.processing){
          return;
        }else{
          this.processing = true;
        }

        this.validationErrors = "";

        axios.post(`/api/restaurant/${this.restaurantName}/category/${this.categoryName}/menu/${this.itemName}/allergen`, {
            nome: this.nome,
            photo: this.photo,
          },
          {
            headers: {
              Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
          })
          .then(response => {
            this.$emit("allergen-created", response.data.data);
            this.$toasted.show('Allergen criado!');
            this.processing = false;
          })
          .catch(error => {
            if(error != null){
              if (error.response.status == 422) {
                this.validationErrors = error.response.data.errors;
              }
            }
            this.processing = false;
          });
      }
    },
    imageChanged(event) {
            let fileReader = new FileReader();
            try{
                fileReader.readAsDataURL(event.target.files[0]);
                fileReader.onload = event => {
                    this.photo = event.target.result;
                };
            }catch(error){
              console.log(error);
            }
        }
  },
  computed: {

  },
  mounted() {

  },

};
</script>

<style>

</style>