<template>
  <div>
            <b-card>
                <h2>Editar {{allergen.nome}}</h2>
                
                <validation-errors :errors="validationErrors" v-if="validationErrors"></validation-errors>

                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input v-model="allergen.nome" id="nome" name="nome" class="form-control" :class="{ 'is-invalid': submitted && $v.nome.$error }"/>
                    <div v-if="submitted && $v.nome.$error" class="invalid-feedback">
                    <span v-if="!$v.nome.required">Nome é obrigatório</span>
                    <span v-if="!$v.nome.minLength">Nome tem de ter mais de 1 caracteres</span>
                    <span v-if="!$v.nome.maxLength">Nome tem de ter menos que 64 caracteres</span>
                    </div>
                </div>

                <div class="form-group">
                  <label for="photo">Imagem</label>
                  <br>
                  <input type="file" accept="image/png" id="photo" name="photo" class="form-control-file" @change="imageChanged"/>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block" v-on:click.prevent="saveItem">Guardar</button>
                </div>
                <div class="form-group">
                    <button class="btn btn-danger btn-lg btn-block" v-on:click.prevent="cancelEdit">Cancel</button>
                </div>
            </b-card>
  </div>
</template>

<script>
import { required, minLength, maxLength } from "vuelidate/lib/validators";

export default {
  props: ['allergen', 'restaurantName', 'categoryName', 'itemName'],
  data: function() {
    return {
        submitted: false,
        beforeAllergenName: null,
        validationErrors: "",
        nome: "",
        photo: null,
    };
  },
  validations: {
    nome: {
      required,
      minLength: minLength(2),
      maxLength: maxLength(64),
    },
  },
  methods: {
    saveItem: function() {
        this.nome = this.allergen.nome;
        
        this.submitted = true;
        this.$v.$touch();

        if (!this.$v.$invalid) {
            this.validationErrors = "";

            axios.put(`/api/restaurant/${this.restaurantName}/category/${this.categoryName}/menu/${this.itemName}/allergen/${this.allergen.id}`, {
                nome: this.nome,
                photo: this.photo
            }, 
            {
                headers: {
                    Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
            })
            .then(response => {
                this.beforeAllergenName = this.allergen.nome;
                this.allergen.photo = response.data.allergen.photo + "?" + new Date().getTime();
                this.$emit("cancel-edit");
                this.$toasted.show("Alergénico editado com successo");
            })
            .catch(error => {
                if(error != null){
                    if (error.response.status == 422) {
                        this.validationErrors = error.response.data.errors;
                    }
                }
            });
        }
    },
    cancelEdit: function() {
      this.allergen.nome = this.beforeAllergenName;
      this.$emit("cancel-edit");
    },
    imageChanged(event) {
            let fileReader = new FileReader();
            try{
                fileReader.readAsDataURL(event.target.files[0]);
                fileReader.onload = event => {
                    this.photo = event.target.result;
                };
            }catch(error){
              console.log(error);
            }
        }
  },
  mounted() {
    this.beforeAllergenName = this.allergen.nome;
  },
};
</script>

<style scoped>

</style>