<template>
  <div>
        <div class="p-5 col-md-12 text-center" >
          <a class="separator">Alergénicos do {{itemName}}</a>
        </div>

        <allergen-create :restaurantName="this.restaurantName" :categoryName="this.categoryName" :itemName="this.itemName" @allergen-created="updateListAllergens"></allergen-create>
        
        <vue-good-table
          :columns="columns"
          :rows="this.allergens"
          :search-options="{enabled: true, placeholder: 'Procura na tabela'}"
          @on-page-change="onPageChange"
          @on-per-page-change="onPageSizeChange"
          :pagination-options="{ enabled: true, mode: 'pages', perPageDropdown: [5, 10, 15], dropdownAllowAll: false}">
            <template slot="table-row" slot-scope="props">
              <span v-if="props.column.field == 'photo'">
                  <img v-bind:src="props.row.photo" height="70" width="70" />
              </span>
              <span v-else-if="props.column.field == 'disabled'">
                  <span v-if="props.row.disabled">
                    Sim
                  </span>
                  <span v-else>
                    Não
                  </span>
              </span>
              <span v-else-if="props.column.field == 'actions'">
                <span v-if="!props.row.disabled">
                      <button
                        @click="deactivateAllergen(props)"
                        class="btn btn-danger btn-lg"
                      >Desativar</button>
                </span>
                <span v-else>
                      <button
                        @click="activateAllergen(props)"
                        class="btn btn-info btn-lg"
                      >Ativar</button>
                </span>
                <button
                    class="btn btn-success btn-lg"
                    @click="editAllergen(props)"
                    >Editar</button>
            </span>
            </template>
          </vue-good-table>
          <div class="jumbotron" v-if="editingAllergen">
          <allergen-edit
            :allergen="currentAllergen"
            :restaurantName="this.restaurantName"
            :categoryName="this.categoryName"
            :itemName="this.itemName"
            @cancel-edit="cancelEdit"
          ></allergen-edit>
        </div>

  </div>
</template>

<script>
export default {
  data() {
    return {
        currentPage: 0,
        currentPageSize: 5,
        allergens: [],
        restaurantName: "",
        categoryName: "",
        itemName: "",
        editingAllergen: false,
        currentAllergen: null,
        columns: [
          {
            label: 'Imagem',
            field: 'photo',
            sortable: false
          },
          {
            label: 'Nome',
            field: 'nome',
          },
          {
            label: 'Desativado',
            field: 'disabled',
            sortable: false,
            filterOptions: {
              enabled: true,
              placeholder: " ",
              filterDropdownItems: [  
                { value: true, text: 'Sim' },  
                { value: false, text: 'Não' }
              ],
            }
          },
          {
            label: 'Ações',
            field: 'actions',
            sortable: false,
            width: '250px'
          }
        ]
    };
  },
  methods: {
    onPageChange(params){
      this.currentPage = params.currentPage - 1;
    },
    onPageSizeChange(params){
      this.currentPageSize = params.currentPerPage
    },
    cancelEdit() {
      this.editingAllergen = false;
    },
    editAllergen(props) {
      var allergen = this.allergens[props.index + (this.currentPage * this.currentPageSize)];
      if(this.currentAllergen == allergen){
        this.editingAllergen = !this.editingAllergen;
        return;
      }

      this.currentAllergen = allergen;
      this.editingAllergen = false;
      this.editingAllergen = true;
    },
    updateListAllergens(allergen){
      this.allergens.push(allergen)
    },
    activateAllergen(props) {
      axios
        .put(
          `/api/restaurant/${this.restaurantName}/category/${this.categoryName}/menu/${this.itemName}/allergen/${props.row.id}/activate`,
          {},
          {
            headers: {
              Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
          }
        )
        .then(response => {
          this.$toasted.show(response.data.msg);
          this.allergens[props.index + (this.currentPage * this.currentPageSize)].disabled = false;
        })
        .catch(error => {

        });
    },
    deactivateAllergen(props) {
      axios
        .put(
          `/api/restaurant/${this.restaurantName}/category/${this.categoryName}/menu/${this.itemName}/allergen/${props.row.id}/deactivate`,
          {},
          {
            headers: {
              Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
          }
        )
        .then(response => {
          this.$toasted.show(response.data.msg);
          this.allergens[props.index + (this.currentPage * this.currentPageSize)].disabled = true;
        })
        .catch(error => {

        });
    },
  },
  computed: {

  },
  mounted() {
    this.restaurantName = this.$route.params.restaurantName
    this.categoryName = this.$route.params.categoryName
    this.itemName = this.$route.params.itemName
    
    axios.get(`/api/restaurant/${this.restaurantName}/category/${this.categoryName}/menu/${this.itemName}/allergens`, {
        headers: {
          Authorization: "Bearer " + sessionStorage.getItem("id_token")
        }
      })
      .then(response => {
          if(response.data.allergens != null){
            this.allergens = response.data.allergens;
          }
      })
      .catch(error => {

      });
  },
};
</script>

<style scoped>

</style>