<template>
  <div>
        <b-button v-b-toggle.collapse-adicionar-horario class="btn-lg" variant="success" block>Criar Horario</b-button>
        <b-collapse id="collapse-adicionar-horario" class="mt-2">
            <b-card>
              <div class="p-5 col-md-12 text-center" >
                  <a class="separator">Criar Horário</a>
                </div>

                <validation-errors :errors="validationErrors" v-if="validationErrors"></validation-errors>

                <div class="form-group">
                    <label>Dia da semana</label>
                    <select
                        class="form-control"
                        id="diaSemana"
                        v-model="diaSemana"
                        required
                        :class="{ 'is-invalid': submitted && $v.diaSemana.$error }"
                    >
                        <option value='segunda'>Segunda-feira</option>
                        <option value='terca'>Terça-feira</option>
                        <option value='quarta'>Quarta-feira</option>
                        <option value='quinta'>Quinta-feira</option>
                        <option value='sexta'>Sexta-feira</option>
                        <option value='sabado'>Sábado</option>
                        <option value='domingo'>Domingo</option>
                    </select>
                    <div v-if="submitted && $v.diaSemana.$error" class="invalid-feedback">
                        <span v-if="!$v.diaSemana.required">É obrigatório dizer o dia da semana</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="horaAbertura">Hora de abertura</label>
                    <input v-model="horaAbertura" id="horaAbertura" type="time" name="horaAbertura" class="form-control"/>
                </div>

                <div class="form-group">
                    <label for="horaFecho">Hora de fecho</label>
                    <input v-model="horaFecho" id="horaFecho" type="time" name="horaFecho" class="form-control"/>
                </div>

                <div class="form-group">
                    <label>Aceita Reservas</label>
                    <select
                        class="form-control"
                        id="aceitaReservas"
                        v-model="aceitaReservas"
                        required
                        :class="{ 'is-invalid': submitted && $v.aceitaReservas.$error }"
                    >
                        <option :value='true'>Sim</option>
                        <option :value='false'>Nao</option>
                    </select>
                    <div v-if="submitted && $v.aceitaReservas.$error" class="invalid-feedback">
                        <span v-if="!$v.aceitaReservas.required">É obrigatório dizer se aceita reservas</span>
                    </div>
                </div>

                <div class="form-group">
                    <label>Aceita pedidos de takeaway</label>
                    <select
                        class="form-control"
                        id="aceitaTakeaways"
                        v-model="aceitaTakeaways"
                        required
                        :class="{ 'is-invalid': submitted && $v.aceitaTakeaways.$error }"
                    >
                        <option :value='true'>Sim</option>
                        <option :value='false'>Nao</option>
                    </select>
                    <div v-if="submitted && $v.aceitaTakeaways.$error" class="invalid-feedback">
                        <span v-if="!$v.aceitaTakeaways.required">É obrigatório dizer se aceita pedidos de takeaway</span>
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block" :disabled="processing" v-on:click.prevent="createSchedule">Criar</button>
                </div>
            </b-card>
            <br>
        </b-collapse>
  </div>
</template>

<script>
import { required } from "vuelidate/lib/validators";

export default {
  props: ['restaurantName'],
  data() {
    return {
        submitted: false,
        validationErrors: "",
        horaAbertura: null,
        horaFecho: null,
        aceitaReservas: 'false',
        diaSemana: null,
        aceitaTakeaways: 'false',
        processing: false
    };
  },
  validations: {
    aceitaReservas: {
      required,
    },
    diaSemana: {
      required,
    },
    aceitaTakeaways: {
      required,
    },
  },
  methods: {
    createSchedule(){
      this.submitted = true;
      this.$v.$touch();

      if (!this.$v.$invalid) {

        if(this.processing){
          return;
        }else{
          this.processing = true;
        }

        this.validationErrors = "";

        axios.post(`/api/restaurant/${this.restaurantName}/schedule`, {
            diaSemana: this.diaSemana,
            horaFecho: this.horaFecho,
            horaAbertura: this.horaAbertura,
            aceitaReservas: this.aceitaReservas,
            aceitaTakeaways: this.aceitaTakeaways,
          },
          {
            headers: {
              Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
          })
          .then(response => {
            this.$emit("schedule-created", response.data.data);
            this.$toasted.show('Horario criado!');
            this.processing = false;
          })
          .catch(error => {
            if(error != null){
              if (error.response.status == 422) {
                console.log()
                this.validationErrors = error.response.data.errors;
              }
            }
            this.processing = false;
          });
      }
    }
  },
  computed: {

  },
  mounted() {

  },

};
</script>

<style>

</style>