<template>
  <div>
            <b-card>
                <h2>Editar Horário</h2>
                
                <validation-errors :errors="validationErrors" v-if="validationErrors"></validation-errors>

                <div class="form-group">
                    <label>Dia da semana</label>
                    <select
                        class="form-control"
                        id="diaSemana"
                        v-model="schedule.diaSemana"
                        required
                        :class="{ 'is-invalid': submitted && $v.diaSemana.$error }"
                    >
                        <option value='segunda'>Segunda-feira</option>
                        <option value='terca'>Terça-feira</option>
                        <option value='quarta'>Quarta-feira</option>
                        <option value='quinta'>Quinta-feira</option>
                        <option value='sexta'>Sexta-feira</option>
                        <option value='sabado'>Sábado</option>
                        <option value='domingo'>Domingo</option>
                    </select>
                    <div v-if="submitted && $v.diaSemana.$error" class="invalid-feedback">
                        <span v-if="!$v.diaSemana.required">É obrigatório dizer o dia da semana</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="horaAbertura">Hora de abertura</label>
                    <input v-model="schedule.horaAbertura" id="horaAbertura" type="time" name="horaAbertura" class="form-control"/>
                </div>

                <div class="form-group">
                    <label for="horaFecho">Hora de fecho</label>
                    <input v-model="schedule.horaFecho" id="horaFecho" type="time" name="horaFecho" class="form-control"/>
                </div>

                <div class="form-group">
                    <label>Aceita reservas</label>
                    <select
                        class="form-control"
                        id="aceitaReservas"
                        v-model="schedule.aceitaReservas"
                        required
                        :class="{ 'is-invalid': submitted && $v.aceitaReservas.$error }"
                    >
                        <option :value='true'>Sim</option>
                        <option :value='false'>Nao</option>
                    </select>
                    <div v-if="submitted && $v.aceitaReservas.$error" class="invalid-feedback">
                        <span v-if="!$v.aceitaReservas.required">É obrigatório dizer se aceita reservas</span>
                    </div>
                </div>

                <div class="form-group">
                    <label>Aceita pedidos de takeaway</label>
                    <select
                        class="form-control"
                        id="aceitaTakeaways"
                        v-model="schedule.aceitaTakeaways"
                        required
                        :class="{ 'is-invalid': submitted && $v.aceitaTakeaways.$error }"
                    >
                        <option :value='true'>Sim</option>
                        <option :value='false'>Nao</option>
                    </select>
                    <div v-if="submitted && $v.aceitaTakeaways.$error" class="invalid-feedback">
                        <span v-if="!$v.aceitaTakeaways.required">É obrigatório dizer se aceita pedidos de takeaway</span>
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block" v-on:click.prevent="saveSchedule">Guardar</button>
                </div>
                <div class="form-group">
                    <button class="btn btn-danger btn-lg btn-block" v-on:click.prevent="cancelEdit">Cancel</button>
                </div>
            </b-card>
  </div>
</template>

<script>
import { required } from "vuelidate/lib/validators";

export default {
  props: ['schedule', 'restaurantName'],
  data: function() {
    return {
        beforeAceitaReservas: null,
        beforeAceitaTakeaways: null,
        beforeHoraAbertura: null,
        beforeHoraFecho: null,
        beforeDiaSemana: null,
        submitted: false,
        validationErrors: "",
        horaAbertura: null,
        horaFecho: null,
        aceitaReservas: 'false',
        aceitaTakeaways: 'false',
        diaSemana: 'false',
    };
  },
  validations: {
    aceitaReservas: {
      required,
    },
    aceitaTakeaways: {
      required,
    },
    diaSemana: {
      required,
    },
  },
  methods: {
    saveSchedule: function() {
        this.aceitaReservas = this.schedule.aceitaReservas;
        this.aceitaTakeaways = this.schedule.aceitaTakeaways;
        this.diaSemana = this.schedule.diaSemana;
        this.horaFecho = this.schedule.horaFecho;
        this.horaAbertura = this.schedule.horaAbertura;
        
        this.submitted = true;
        this.$v.$touch();

        if (!this.$v.$invalid) {
            this.validationErrors = "";

            axios.put(`/api/restaurant/${this.restaurantName}/schedule/${this.schedule.id}`, {
                aceitaReservas: this.aceitaReservas,
                aceitaTakeaways: this.aceitaTakeaways,
                diaSemana: this.diaSemana,
                horaFecho: this.horaFecho,
                horaAbertura: this.horaAbertura,
            }, 
            {
                headers: {
                    Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
            })
            .then(response => {
                this.schedule.horaAbertura = response.data.schedule.horaAbertura;
                this.schedule.horaFecho = response.data.schedule.horaFecho;
                this.beforeAceitaReservas = this.schedule.aceitaReservas;
                this.beforeAceitaTakeaways = this.schedule.aceitaTakeaways;
                this.beforeDiaSemana = this.schedule.diaSemana;
                this.beforeHoraFecho = this.schedule.horaFecho;
                this.beforeHoraAbertura = this.schedule.horaAbertura;
                this.$emit("cancel-edit");
                this.$toasted.show("Schedule editado com successo");
            })
            .catch(error => {
                if(error != null){
                    console.log(error);
                    if (error.response.status == 422) {
                        this.validationErrors = error.response.data.errors;
                    }
                }
            });
        }
    },
    cancelEdit: function() {
      this.schedule.aceitaReservas = this.beforeAceitaReservas;
      this.schedule.aceitaTakeaways = this.beforeAceitaTakeaways;
      this.schedule.diaSemana = this.beforeDiaSemana;
      this.schedule.horaFecho = this.beforeHoraFecho;
      this.schedule.horaAbertura = this.beforeHoraAbertura;
      this.$emit("cancel-edit");
    }
  },
  mounted() {
      this.beforeAceitaReservas = this.schedule.aceitaReservas;
      this.beforeAceitaTakeaways = this.schedule.aceitaTakeaways;
      this.beforeDiaSemana = this.schedule.diaSemana;
      this.beforeHoraFecho = this.schedule.horaFecho;
      this.beforeHoraAbertura = this.schedule.horaAbertura;
  },
};
</script>

<style scoped>

</style>