<template>
  <div>
      <div class="p-5 col-md-12 text-center" >
        <a class="separator">Horário do Restaurante - {{restaurantName}}</a>
      </div>
      
      <schedule-create :restaurantName="this.restaurantName" @schedule-created="updateList"></schedule-create>
      
      <vue-good-table
          :columns="columnsSchedules"
          :rows="this.schedules"
          :search-options="{enabled: true, placeholder: 'Procura na tabela'}"
          @on-page-change="onPageChangeSchedule"
          @on-per-page-change="onPageSizeChangeSchedule"
          :pagination-options="{ enabled: true, mode: 'pages', perPageDropdown: [5, 10, 20], dropdownAllowAll: false}">
            <template slot="table-row" slot-scope="props">
                <span v-if="props.column.field == 'disabled'">
                  <span v-if="props.row.disabled">
                    Sim
                  </span>
                  <span v-else>
                    Não
                  </span>
                </span>
                <span v-else-if="props.column.field == 'diaSemana'">
                  <span v-if="props.row.diaSemana === 'segunda'">
                    Segunda-feira
                  </span>
                  <span v-else-if="props.row.diaSemana === 'terca'">
                    Terça-feira
                  </span>
                  <span v-else-if="props.row.diaSemana === 'quarta'">
                    Quarta-feira
                  </span>
                  <span v-else-if="props.row.diaSemana === 'quinta'">
                    Quinta-feira
                  </span>
                  <span v-else-if="props.row.diaSemana === 'sexta'">
                    Sexta-feira
                  </span>
                  <span v-else-if="props.row.diaSemana === 'sabado'">
                    Sábado
                  </span>
                  <span v-else-if="props.row.diaSemana === 'domingo'">
                    Domingo
                  </span>
                  <span v-else>
                    Error!
                  </span>
                </span>
                <span v-else-if="props.column.field == 'aceitaReservas'">
                  <span v-if="props.row.aceitaReservas == true">
                    Sim
                  </span>
                  <span v-else>
                    Não
                  </span>
                </span>
                <span v-else-if="props.column.field == 'aceitaTakeaways'">
                  <span v-if="props.row.aceitaTakeaways == true">
                    Sim
                  </span>
                  <span v-else>
                    Não
                  </span>
                </span>
                <span v-else-if="props.column.field == 'actions'">
                    <span v-if="!props.row.disabled">
                      <button
                        @click="deactivateSchedule(props)"
                        class="btn btn-danger btn-lg"
                      >Desativar</button>
                    </span>
                    <span v-else>
                        <button
                            @click="activateSchedule(props)"
                            class="btn btn-info btn-lg"
                        >Ativar</button>
                    </span>
                    <button
                    class="btn btn-success btn-lg"
                    @click="editSchedule(props)"
                    >Editar</button>
                </span>
            </template>
      </vue-good-table>
      <div class="jumbotron" v-if="editingSchedule">
        <schedule-edit
          :schedule="currentSchedule"
          :restaurantName="this.restaurantName"
          @cancel-edit="cancelEdit"
        ></schedule-edit>
      </div>



      <div class="p-5 col-md-12 text-center" >
        <a class="separator">Exceções ao horário</a>
      </div>
      
      <schedule-exception-create :restaurantName="this.restaurantName" @schedule-exception-created="updateListException"></schedule-exception-create>
      
      <vue-good-table
          :columns="columnsException"
          :rows="this.scheduleExceptions"
          :search-options="{enabled: true, placeholder: 'Procura na tabela'}"
          @on-page-change="onPageChangeScheduleException"
          @on-per-page-change="onPageSizeChangeScheduleException"
          :pagination-options="{ enabled: true, mode: 'pages', perPageDropdown: [5, 10, 20], dropdownAllowAll: false}">
            <template slot="table-row" slot-scope="props">
                <span v-if="props.column.field == 'disabled'">
                  <span v-if="props.row.disabled">
                    Sim
                  </span>
                  <span v-else>
                    Não
                  </span>
                </span>
                <span v-else-if="props.column.field == 'aceitaReservas'">
                  <span v-if="props.row.aceitaReservas == true">
                    Sim
                  </span>
                  <span v-if="props.row.aceitaReservas == false">
                    Não
                  </span>
                  <span v-else>
                    
                  </span>
                </span>
                <span v-else-if="props.column.field == 'aceitaTakeaways'">
                  <span v-if="props.row.aceitaTakeaways == true">
                    Sim
                  </span>
                  <span v-if="props.row.aceitaTakeaways == false">
                    Não
                  </span>
                  <span v-else>
                    
                  </span>
                </span>
                <span v-else-if="props.column.field == 'actions'">
                    <span v-if="!props.row.disabled">
                      <button
                        @click="deactivateScheduleException(props)"
                        class="btn btn-danger btn-lg"
                      >Desativar</button>
                    </span>
                    <span v-else>
                        <button
                            @click="activateScheduleException(props)"
                            class="btn btn-info btn-lg"
                        >Ativar</button>
                    </span>
                    <button
                    class="btn btn-success btn-lg"
                    @click="editScheduleException(props)"
                    >Editar</button>
                </span>
            </template>
      </vue-good-table>
      <div class="jumbotron" v-if="editingScheduleException">
        <schedule-exception-edit
          :scheduleException="currentScheduleException"
          :restaurantName="this.restaurantName"
          @cancel-edit-exception="cancelEditException"
        ></schedule-exception-edit>
      </div>

  </div>
</template>

<script>
export default {
  data() {
    return {
        currentPageSchedule: 0,
        currentPageSizeSchedule: 5,
        currentPageScheduleException: 0,
        currentPageSizeScheduleException: 5,
        restaurantName: "",
        schedules: [],
        editingSchedule: false,
        currentSchedule: null,
        columnsSchedules: [
          {
            label: 'Dia da semana',
            field: 'diaSemana',
            filterOptions: {
              enabled: true,
              placeholder: " ",
              filterDropdownItems: [  
                { value: 'segunda', text: 'Segunda-feira' },  
                { value: 'terca', text: 'Terça-feira' },  
                { value: 'quarta', text: 'Quarta-feira' },  
                { value: 'quinta', text: 'Quinta-feira' },  
                { value: 'sexta', text: 'Sexta-feira' },  
                { value: 'sabado', text: 'Sábado' },  
                { value: 'domingo', text: 'Domingo' },  
              ],
            }
          },
          {
            label: 'Hora de abertura',
            field: 'horaAbertura',
            filterOptions: {
              enabled: true,
            }
          },
          {
            label: 'Hora de Fecho',
            field: 'horaFecho',
            filterOptions: {
              enabled: true,
            }
          },
          {
            label: 'Aceita Reservas',
            field: 'aceitaReservas',
            sortable: false,
            filterOptions: {
              enabled: true,
              placeholder: " ",
              filterDropdownItems: [  
                { value: true, text: 'Sim' },  
                { value: false, text: 'Não' }
              ],
            }
          },
          {
            label: 'Aceita Takeaways',
            field: 'aceitaTakeaways',
            sortable: false,
            filterOptions: {
              enabled: true,
              placeholder: " ",
              filterDropdownItems: [  
                { value: true, text: 'Sim' },  
                { value: false, text: 'Não' }
              ],
            }
          },
          {
            label: 'Desativado',
            field: 'disabled',
            sortable: false,
            filterOptions: {
              enabled: true,
              placeholder: " ",
              filterDropdownItems: [  
                { value: true, text: 'Sim' },  
                { value: false, text: 'Não' }
              ],
            }
          },
          {
            label: 'Ações',
            field: 'actions',
            sortable: false,
            width: '250px'
          }
        ],
        scheduleExceptions: [],
        editingScheduleException: false,
        currentScheduleException: null,
        columnsException: [
          {
            label: 'Data de início',
            field: 'dataInicio',
            filterOptions: {
              enabled: true,
            }
          },
          {
            label: 'Data de fim',
            field: 'dataFim',
            filterOptions: {
              enabled: true,
            }
          },
          {
            label: 'Aceita Reservas',
            field: 'aceitaReservas',
            sortable: false,
            filterOptions: {
              enabled: true,
              placeholder: " ",
              filterDropdownItems: [  
                { value: true, text: 'Sim' },  
                { value: false, text: 'Não' }
              ],
            }
          },
          {
            label: 'Aceita Takeaways',
            field: 'aceitaTakeaways',
            sortable: false,
            filterOptions: {
              enabled: true,
              placeholder: " ",
              filterDropdownItems: [  
                { value: true, text: 'Sim' },  
                { value: false, text: 'Não' }
              ],
            }
          },
          {
            label: 'Desativado',
            field: 'disabled',
            sortable: false,
            filterOptions: {
              enabled: true,
              placeholder: " ",
              filterDropdownItems: [  
                { value: true, text: 'Sim' },  
                { value: false, text: 'Não' }
              ],
            }
          },
          {
            label: 'Ações',
            field: 'actions',
            sortable: false,
            width: '250px'
          }
        ]
    };
  },
  methods: {
    onPageChangeSchedule(params){
      this.currentPageSchedule = params.currentPage - 1;
    },
    onPageSizeChangeSchedule(params){
      this.currentPageSizeSchedule = params.currentPerPage;
    },
    onPageChangeScheduleException(params){
      this.currentPageScheduleException = params.currentPage - 1;
    },
    onPageSizeChangeScheduleException(params){
      this.currentPageSizeScheduleException = params.currentPerPage;
    },
    cancelEdit() {
      this.editingSchedule = false;
    },
    editSchedule(props) {
      var schedule = this.schedules[props.index + (this.currentPageSchedule * this.currentPageSizeSchedule)];
      if(this.currentSchedule == schedule){
        this.editingSchedule = !this.editingSchedule;
        return;
      }

      this.currentSchedule = schedule;
      this.editingSchedule = false;
      this.editingSchedule = true;
    },
    updateList(schedule){
      this.schedules.push(schedule)
    },
    activateSchedule(props) {
      axios
        .put(
          `/api/restaurant/${this.restaurantName}/schedule/${props.row.id}/activate`,
          {},
          {
            headers: {
              Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
          }
        )
        .then(response => {
          this.$toasted.show(response.data.msg);
          this.schedules[props.index + (this.currentPageSchedule * this.currentPageSizeSchedule)].disabled = false;
        })
        .catch(error => {
          
        });
    },
    deactivateSchedule(props) {
      axios.put(
          `/api/restaurant/${this.restaurantName}/schedule/${props.row.id}/deactivate`,
          {},
          {
            headers: {
              Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
          }
        )
        .then(response => {
          this.$toasted.show(response.data.msg);
          this.schedules[props.index + (this.currentPageSchedule * this.currentPageSizeSchedule)].disabled = true;
        })
        .catch(error => {
          
        });
    },
    cancelEditException() {
      this.editingScheduleException = false;
    },
    editScheduleException(props) {
      var scheduleExceptions = this.scheduleExceptions[props.index + (this.currentPageScheduleException * this.currentPageSizeScheduleException)];
      if(this.currentScheduleException == scheduleExceptions){
        this.editingScheduleException = !this.editingScheduleException;
        return;
      }

      this.currentScheduleException = scheduleExceptions;
      this.editingScheduleException = false;
      this.editingScheduleException = true;
    },
    updateListException(scheduleExceptions){
      this.scheduleExceptions.push(scheduleExceptions)
    },
    activateScheduleException(props) {
      axios
        .put(
          `/api/restaurant/${this.restaurantName}/scheduleException/${props.row.id}/activate`,
          {},
          {
            headers: {
              Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
          }
        )
        .then(response => {
          this.$toasted.show(response.data.msg);
          this.scheduleExceptions[props.index + (this.currentPageScheduleException * this.currentPageSizeScheduleException)].disabled = false;
        })
        .catch(error => {
          
        });
    },
    deactivateScheduleException(props) {
      axios.put(
          `/api/restaurant/${this.restaurantName}/scheduleException/${props.row.id}/deactivate`,
          {},
          {
            headers: {
              Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
          }
        )
        .then(response => {
          this.$toasted.show(response.data.msg);
          this.scheduleExceptions[props.index + (this.currentPageScheduleException * this.currentPageSizeScheduleException)].disabled = true;
        })
        .catch(error => {
          
        });
    },
  },
  computed: {
    
  },
  mounted() {
    this.restaurantName = this.$route.params.restaurantName
    
    axios.get(`/api/restaurant/${this.restaurantName}/schedules`, {
        headers: {
          Authorization: "Bearer " + sessionStorage.getItem("id_token")
        }
      })
      .then(response => {
          if(response.data.schedules != null){
            this.schedules = response.data.schedules;
          }
          if(response.data.scheduleExceptions != null){
            this.scheduleExceptions = response.data.scheduleExceptions;
          }
      })
      .catch(error => {
        
      });
      
  },
};
</script>

<style scoped>

</style>