<template>
  <div>
    <footer class="p-4 bg-dark">
      <div class="d-flex justify-content-center">
          <a class="pl-2 pr-2" href="https://www.tripadvisor.pt/Restaurant_Review-g230085-d14044931-Reviews-A_Adega_das_Francesinhas-Leiria_Leiria_District_Central_Portugal.html">
            <img src="static/tripadvisor_logo.png" width="100px">
          </a>
          <a class="pl-2 pr-2" href="https://www.instagram.com/aadegadasfrancesinhas/">
            <img src="static/instagram_logo.png" width="100px">
          </a>
          <a class="pl-2 pr-2" href="https://www.facebook.com/aadegadasfrancesinhas/">
            <img src="static/facebook_logo.png" width="100px">
          </a>
      </div>
      <div class="d-flex justify-content-end">
        <router-link to="/backoffice/dashboard">
          <button type="button" class="btn btn-outline-light backofficeButtonText">Backoffice</button>
        </router-link>
      </div>
  </footer>
  </div>
</template>

<script>
export default {
  data() {
    return {

    };
  },
  methods: {

  },
  computed: {

  },
  mounted() {
    
  },

};
</script>

<style>

</style>