<template>
  <div>
      <div class="parallaxAbout">
        <span class="parallaxTitleText">Sobre Nós</span>
      </div>

      <div class="container-text">
        <div class="content-text">
          <p>Reza a lenda que uma bela moça parisiense, após rumar ao norte de Portugal, decidiu mudar-se para Leiria, para mudar a vida dos seus habitantes.</p>
        </div>
      </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      
    };
  },
  methods: {

  },
  computed: {
  },
  mounted() {

  },

};
</script>

<style scoped>
.container-text{
  position:relative;
  padding: 5%;
}

.content-text {
  margin-left:auto;
  margin-right:auto;
  max-width:70%;
  font-size: 30px;
}
</style>