<template>
  <div>

      <div class="parallaxApp">
        <span class="parallaxTitleText">Aplicação</span>
      </div>

      <div id="imageText" class="container">
        <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 center">
            <img src="static/android_app.png" class="img-fluid" alt="Demo image">
          </div>
          <div class="col-md-7 content-box imageText-content">
            <div class="text-container">
            <h1><b>Descubra a nossa aplicação</b></h1>
            <p>Faça o seu pedido através da aplicação e desfrute de <b>promoções únicas</b></p>
            </div>
          </div>
        </div>
      </div>

      <section class="download text-center" id="download">
        <div class="container">
          <div class="row">
            <div class="col-md-8 mx-auto">
              <h2 class="section-heading">Faça download da aplicação!</h2>
              <p>A nossa aplicação encontra-se disponível para qualquer dispositivo android!</p>
              <div class="badges">
                <a class="badge-link" href="https://play.google.com/store/apps/details?id=pt.ipleiria.estg.ei.projeto.adegadasfrancesinhas">
                  <img src="static/google_play.png" alt="google play image">
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div id="features">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 content-box imageText-content">
              <div class="text-container">
                <h3>Faça a sua reserva ou o seu pedido!</h3>
                <p class="descricao">As suas reservas e pedidos de takeaway num só lugar para nunca mais se esquecer para quando marcou e o que pediu.</p>
              </div> 
            </div>
            <div class="col-lg-6">
              <img class="img-fluid" src="static/features_2.png" alt="app features 2">
            </div>
          </div>
        </div>
        <div id="details">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <img class="img-fluid" src="static/features_1.png" alt="app features 1">
                    </div> 
                    <div class="col-lg-6 content-box imageText-content">
                        <div class="text-container">
                            <h3>Descubra os nossos restaurantes e menus</h3>
                            <p class="descricao">A aplicação proporciona toda a informação sobre os nossos menus e restaurantes a qualquer altura. Permite ainda manter-se atualizado com as novas novidades.</p>
                        </div> 
                    </div> 
                </div> 
            </div> 
        </div> 
      </div>

  </div>
</template>

<script>
export default {
  data() {
    return {

    };
  },
  methods: {

  },
  computed: {

  },
  mounted() {
    
  },

};
</script>

<style scoped>
b {
  text-transform: uppercase;
  font-weight: 550;
  font-family: "Segoe UI";
}

h3 {
  color: #783800;
  font-size: 30px;
  font-weight: 300;
}

@media (max-width: 768px) { 
	#imageText h1 {
		font-size: 34px!important;
		margin-bottom: 20px;
	}
	#imageText p {
		font-size: 20px!important;
	}
}

@media (min-width: 1200px) { 
	.imageText-content {
		margin-top: 100px;
	}
}

.content-box {
	padding: 60px 20px;
}

.descricao {
  font-family: 'Nunito', sans-serif;
	font-size: 20px;
}

#imageText h1 {
  font-family: 'Nunito', sans-serif;
	font-size: 50px;
  font-weight: 300;
  color: #5E2C00;
  text-align: left;
}

#imageText p {
  font-family: 'Nunito', sans-serif;
	font-size: 30px;
  font-weight: 300;
  margin-bottom: 0px;
  color: #26252E;
  padding: 0px;
}

section.download {
  position: relative;
  padding: 150px 0;
  background: #5E2C00;
}

section.download h2 {
  font-size: 50px;
  color: white;
  margin-top: 0;
}

section.download p {
  font-size: 30px;
  color: white;
  margin-top: 0;
}

section.download .badges .badge-link {
  display: block;
  margin-bottom: 25px;
}

section.download .badges .badge-link:last-child {
  margin-bottom: 0;
}

section.download .badges .badge-link img {
  height: 100px;
}

@media (min-width: 768px) {
  section.download .badges .badge-link {
    display: inline-block;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  section.download h2 {
    font-size: 70px;
  }
}

#features {
  margin-top: 100px;
  margin-bottom: 100px
}
</style>