<template>
    <div>
        <navbar-top></navbar-top>

        <router-view></router-view>

        <footer-bot></footer-bot>
    </div>
</template>

<script>
export default {
  data() {
    return {

    };
  },
  methods: {

  },
  computed: {

  },
  mounted() {

  },

};
</script>

<style scoped>

</style>