<template>
  <div>

      <div class="parallaxMenus">
        <span class="parallaxTitleText">Ementas</span>
      </div>

      <div class="row mx-0 px-0 cima">
            <div v-for="restaurant in restaurants" v-bind:key="restaurant.nome" style="min-width: 375px" class="col-md-6 px-3">
                <b-link v-on:click="restaurantMenus(restaurant)">
                    <div class="square">
                        <img class="imgSquare" v-bind:src="restaurant.image" alt="restaurant image" />
                        <h5 class="imgText" style="max-width: 375px">{{restaurant.nome}}</h5>
                    </div>
                </b-link>
            </div>
      </div>

  </div>
</template>

<script>
export default {
  data() {
    return {
      restaurants: [],
    };
  },
  methods: {
    restaurantMenus(restaurant){
      this.$router.push(`/restaurant/${restaurant.nome}/menu`).catch(error =>{
          console.log(error);
        });
    },
  },
  computed: {
    
  },
  mounted() {
        axios.get("/api/restaurants/namesAndImages", {})
        .then(response => {
            if(response.data.restaurants != null){
                this.restaurants = response.data.restaurants;
            }
        })
        .catch(error => {

        });
  },

};
</script>

<style scoped>
.imgSquare {
  background-size: cover;
  background-attachment: fixed; 
  object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cima{
  height: 30%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.cima a{
	color: #333;
	font-size: 18pt;
	text-decoration: none;
}

td img{
	width: 5em;
}

.square{
	background-color: black;
	color: white;
	cursor: pointer;
	transition: all 0.5s;
	width: 100%;
  height: 400px;
}

.square:hover{
	box-shadow: 0px 0px 10px grey;
}

.square i{
	font-size: 50pt;
}

.square div,h5{
	text-align: center;
}

.square h5{
	text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 2px;
}
</style>