<template>
  <div>

      <div class="videoContainer">
        <video id="fundo_video" autoplay poster="static/fundo_carrega.jpg" loop muted>
        <source src="static/videos/videoInicial_darkened.mp4" type="video/mp4">
      </video>
      <img class="logo_letras" src="static/logo_letras.png" alt="logo alternativo">
      </div>
      <div class="parallaxAbout">
        <button type="button" class="btn btn-outline-light parallaxTitleText" v-on:click="about()">Sobre</button>
      </div>
      <div class="parallaxRestaurant">
        <button type="button" class="btn btn-outline-light parallaxTitleText" v-on:click="restaurants()">Restaurantes</button>
      </div> 
      <div class="parallaxMenus"> 
        <button type="button" class="btn btn-outline-light parallaxTitleText" v-on:click="menus()">Ementa</button>
      </div>
      <div class="parallaxApp">
        <button type="button" class="btn btn-outline-light parallaxTitleText" v-on:click="mobileApp()">Aplicação</button>
      </div>

  </div>
</template>

<script>
export default {
  data() {
    return {

    };
  },
  methods: {
    about() {
      this.$router.push("/about");
    },
    restaurants() {
      this.$router.push("/restaurants");
    },
    menus() {
      this.$router.push("/menus");
    },
    mobileApp() {
      this.$router.push("/appPromotion");
    }
  },
  computed: {

  },
  mounted() {
    
  },

};
</script>

<style scoped>
.logo_letras{
  width: 30%;
  min-width: 400px;
  position: absolute;
}

#fundo_video{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.videoContainer{
  background-size: cover;
  background-attachment: fixed; 
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.parallaxAbout {
  height: 750px !important;
}

.parallaxRestaurant {
  height: 750px !important;
}

.parallaxMenus {
  height: 750px !important;
}

.parallaxApp {
  height: 750px !important;
}
</style>