<template>
  <div>
        <b-button v-b-toggle.collapse-adicionar-categoria variant="success" class="btn-lg" block>Criar Categoria</b-button>
        <b-collapse id="collapse-adicionar-categoria" class="mt-2">
            <b-card>
              <div class="p-5 col-md-12 text-center" >
                  <a class="separator">Criar Categoria</a>
                </div>

                <validation-errors :errors="validationErrors" v-if="validationErrors"></validation-errors>

                <div class="form-group">
                    <label for="nome">Nome da categoria</label>
                    <input v-model="nome" id="nome" name="nome" class="form-control" :class="{ 'is-invalid': submitted && $v.nome.$error }"/>
                    <div v-if="submitted && $v.nome.$error" class="invalid-feedback">
                    <span v-if="!$v.nome.required">Nome da categoria é obrigatório</span>
                    <span v-if="!$v.nome.minLength">Nome da categoria tem de ter mais de 1 caracteres</span>
                    <span v-if="!$v.nome.maxLength">Nome da categoria tem de ter menos que 64 caracteres</span>
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block" :disabled="processing" v-on:click.prevent="createCategory">Criar</button>
                </div>
            </b-card>
            <hr>
        </b-collapse>
  </div>
</template>

<script>
import { required, minLength, maxLength } from "vuelidate/lib/validators";

export default {
  props: ['restaurantName'],
  data() {
    return {
        submitted: false,
        validationErrors: "",
        nome: "",
        processing: false
    };
  },
  validations: {
    nome: {
      required,
      minLength: minLength(2),
      maxLength: maxLength(64),
    }
  },
  methods: {
    createCategory(){
      this.submitted = true;
      this.$v.$touch();

      if (!this.$v.$invalid) {

        if(this.processing){
          return;
        }else{
          this.processing = true;
        }

        this.validationErrors = "";
        axios.post(`/api/restaurant/${this.restaurantName}/category`, {
            nome: this.nome,
          },
          {
            headers: {
              Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
          })
          .then(response => {
            this.$emit("category-created", response.data.data);
            this.$toasted.show('Categoria criada!');
            this.processing = false;
          })
          .catch(error => {
            if(error != null){
              if (error.response.status == 422) {
                this.validationErrors = error.response.data.errors;
              }
            }
            this.processing = false;
          });
      }
    }
  },
  computed: {

  },
  mounted() {

  },

};
</script>

<style>

</style>