<template>
  <div>
      <div class="p-5 col-md-12 text-center" >
        <a class="separator">Categorias do restaurante - {{this.restaurantName}}</a>
      </div>

      <category-create @category-created="updateListCategory" :restaurantName="this.restaurantName"></category-create>

      <vue-good-table
          :columns="columns"
          :rows="this.categories"
          :search-options="{enabled: true, placeholder: 'Procura na tabela'}"
          @on-page-change="onPageChange"
          @on-per-page-change="onPageSizeChange"
          :pagination-options="{ enabled: true, mode: 'pages', perPageDropdown: [5, 10, 15], dropdownAllowAll: false}">
            <template slot="table-row" slot-scope="props">
              <span v-if="props.column.field == 'disabled'">
                  <span v-if="props.row.disabled">
                    Sim
                  </span>
                  <span v-else>
                    Não
                  </span>
                </span>
              <span v-else-if="props.column.field == 'actions'">
                <span v-if="!props.row.disabled">
                      <button
                        @click="deactivateCategory(props)"
                        class="btn btn-danger btn-lg"
                      >Desativar</button>
                </span>
                <span v-else>
                      <button
                        @click="activateCategory(props)"
                        class="btn btn-info btn-lg"
                      >Ativar</button>
                </span>
                <button
                    class="btn btn-warning btn-lg"
                    @click="items(props.row)"
                  >Menus</button>
            </span>
            </template>
          </vue-good-table>

  </div>
</template>

<script>
export default {
  data() {
    return {
        currentPage: 0,
        currentPageSize: 5,
        categories: [],
        restaurantName: null,
        columns: [
          {
            label: 'Nome',
            field: 'nome',
            filterOptions: {
              enabled: true,
            }
          },
          {
            label: 'Desativado',
            field: 'disabled',
            sortable: false,
            filterOptions: {
              enabled: true,
              placeholder: " ",
              filterDropdownItems: [  
                { value: true, text: 'Sim' },  
                { value: false, text: 'Não' }
              ],
            }
          },
          {
            label: 'Ações',
            field: 'actions',
            sortable: false,
            width: '300px'
          }
        ]
    };
  },
  methods: {
    onPageChange(params){
      this.currentPage = params.currentPage - 1;
    },
    onPageSizeChange(params){
      this.currentPageSize = params.currentPerPage
    },
    activateCategory(props){
        axios.put(
          `/api/restaurant/${this.restaurantName}/category/${props.row.nome}/activate`, {},
          {
            headers: {
              Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
          }
        )
        .then(response => {
          this.$toasted.show(response.data.msg);
          this.categories[props.index + (this.currentPage * this.currentPageSize)].disabled = false;
        })
        .catch(error => {

        });
    },
    deactivateCategory(props){
        axios.put(`/api/restaurant/${this.restaurantName}/category/${props.row.nome}/deactivate`, 
        {},
          {
            headers: {
              Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
          }
        )
        .then(response => {
          this.$toasted.show(response.data.msg);
          this.categories[props.index + (this.currentPage * this.currentPageSize)].disabled = true;
        })
        .catch(error => {

        });
    },
    updateListCategory(category){
        this.categories.push(category)
    },
    items(category){
        this.$router.push(`/backoffice/restaurant/${this.restaurantName}/${category.nome}/items`).catch(error =>{
          console.log(error);
        });
    },
  },
  computed: {

  },
  mounted() {
    this.restaurantName = this.$route.params.restaurantName

    axios.get(`/api/restaurant/${this.restaurantName}/categories`, {
        headers: {
          Authorization: "Bearer " + sessionStorage.getItem("id_token")
        }
      })
      .then(response => {
          if(response.data.categorias != null){
              this.categories = response.data.categorias;
          }
      })
      .catch(error => {

      });
  },
};
</script>

<style scoped>

</style>