<template>
  <div>
        <b-button v-b-toggle.collapse-adicionar-item variant="success" class="btn-lg" block>Adicionar a: {{this.categoryName}}</b-button>
        <b-collapse id="collapse-adicionar-item" class="mt-2">
            <b-card>
              <div class="p-5 col-md-12 text-center" >
                  <a class="separator">Adicionar a: {{this.categoryName}}</a>
                </div>

                <validation-errors :errors="validationErrors" v-if="validationErrors"></validation-errors>

                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input v-model="nome" id="nome" name="nome" class="form-control" :class="{ 'is-invalid': submitted && $v.nome.$error }"/>
                    <div v-if="submitted && $v.nome.$error" class="invalid-feedback">
                    <span v-if="!$v.nome.required">Nome é obrigatório</span>
                    <span v-if="!$v.nome.minLength">Nome tem de ter mais de 1 caracteres</span>
                    <span v-if="!$v.nome.maxLength">Nome tem de ter menos que 64 caracteres</span>
                    </div>
                </div>

                <div class="form-group">
                  <label for="photo">Imagem</label>
                  <br>
                  <input type="file" accept="image/jpeg" id="photo" name="photo" class="form-control-file" @change="imageChanged"/>
                </div>

                <div class="form-group">
                    <label for="ingredientes">Descrição dos Ingredientes</label>
                    <textarea v-model="ingredientes" id="ingredientes" name="ingredientes" class="form-control" :class="{ 'is-invalid': submitted && $v.ingredientes.$error }"/>
                    <div v-if="submitted && $v.ingredientes.$error" class="invalid-feedback">
                    <span v-if="!$v.ingredientes.required">Descrição dos Ingredientes é obrigatório</span>
                    <span v-if="!$v.ingredientes.minLength">Descrição dos Ingredientes tem de ter mais de 1 caracteres</span>
                    <span v-if="!$v.ingredientes.maxLength">Descrição dos Ingredientes tem de ter menos que 256 caracteres</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="preco">Preço</label>
                    <input v-model="preco" id="preco" type="number" name="preco" class="form-control" :class="{ 'is-invalid': submitted && $v.preco.$error }"/>
                    <div v-if="submitted && $v.preco.$error" class="invalid-feedback">
                    <span v-if="!$v.preco.required">Preço é obrigatório</span>
                    <span v-if="!$v.preco.decimal">Preço tem de ser um numero decimal</span>
                    <span v-if="!$v.preco.between">Preço tem de estar entre 0 e 999</span>
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block" :disabled="processing" v-on:click.prevent="createItem">Adicionar</button>
                </div>
            </b-card>
            <hr>
        </b-collapse>
  </div>
</template>

<script>
import { required, decimal, between, minLength, maxLength } from "vuelidate/lib/validators";

export default {
  props: ['restaurantName', 'categoryName'],
  data() {
    return {
        submitted: false,
        validationErrors: "",
        nome: "",
        ingredientes: "",
        photo: null,
        preco: "",
        processing: false
    };
  },
  validations: {
    nome: {
      required,
      minLength: minLength(2),
      maxLength: maxLength(64),
    },
    ingredientes: {
      required,
      minLength: minLength(2),
      maxLength: maxLength(255),
    },
    preco: {
      required,
      decimal,
      between: between(0, 999),
    }
  },
  methods: {
    createItem(){
      this.submitted = true;
      this.$v.$touch();

      if (!this.$v.$invalid) {
        
        if(this.processing){
          return;
        }else{
          this.processing = true;
        }


        this.validationErrors = "";

        axios.post(`/api/restaurant/${this.restaurantName}/category/${this.categoryName}/menu`, {
            nome: this.nome,
            ingredientes: this.ingredientes,
            photo: this.photo,
            preco: this.preco,
          },
          {
            headers: {
              Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
          })
          .then(response => {
            this.$emit("item-created", response.data.data);
            this.$toasted.show('Item criado!');
            this.processing = false;
          })
          .catch(error => {
            if(error != null){
              if (error.response.status == 422) {
                this.validationErrors = error.response.data.errors;
              }
            }
            this.processing = false;
          });
      }
    },
    imageChanged(event) {
            let fileReader = new FileReader();
            try{
                fileReader.readAsDataURL(event.target.files[0]);
                fileReader.onload = event => {
                    this.photo = event.target.result;
                };
            }catch(error){
              console.log(error);
            }
        }
  },
  computed: {

  },
  mounted() {

  },

};
</script>

<style>

</style>