<template>
  <div>
            <b-card>
                <h2>Editar {{item.nome}}</h2>
                
                <validation-errors :errors="validationErrors" v-if="validationErrors"></validation-errors>

                <div class="form-group">
                  <label for="photo">Imagem</label>
                  <br>
                  <input type="file" accept="image/jpeg" id="photo" name="photo" class="form-control-file" @change="imageChanged"/>
                </div>

                <div class="form-group">
                    <label for="ingredientes">Descrição dos Ingredientes</label>
                    <textarea v-model="item.ingredientes" id="ingredientes" name="ingredientes" class="form-control" :class="{ 'is-invalid': submitted && $v.ingredientes.$error }"/>
                    <div v-if="submitted && $v.ingredientes.$error" class="invalid-feedback">
                    <span v-if="!$v.ingredientes.required">Descrição dos Ingredientes é obrigatório</span>
                    <span v-if="!$v.ingredientes.minLength">Descrição dos Ingredientes tem de ter mais de 1 caracteres</span>
                    <span v-if="!$v.ingredientes.maxLength">Descrição dos Ingredientes tem de ter menos que 256 caracteres</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="preco">Preço</label>
                    <input v-model="item.preco" id="preco" type="number" name="preco" class="form-control" :class="{ 'is-invalid': submitted && $v.preco.$error }"/>
                    <div v-if="submitted && $v.preco.$error" class="invalid-feedback">
                    <span v-if="!$v.preco.required">Preço é obrigatório</span>
                    <span v-if="!$v.preco.decimal">Preço tem de ser um numero decimal</span>
                    <span v-if="!$v.preco.between">Preço tem de estar entre 0 e 999</span>
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block" v-on:click.prevent="saveItem">Guardar</button>
                </div>
                <div class="form-group">
                    <button class="btn btn-danger btn-lg btn-block" v-on:click.prevent="cancelEdit">Cancel</button>
                </div>
            </b-card>
  </div>
</template>

<script>
import { required, decimal, between, minLength, maxLength } from "vuelidate/lib/validators";

export default {
  props: ['item', 'restaurantName', 'categoryName'],
  data: function() {
    return {
        submitted: false,
        beforeItemIngredientes: null,
        beforeItemPreco: null,
        validationErrors: "",
        nome: "",
        ingredientes: "",
        photo: null,
        preco: "",
    };
  },
  validations: {
    ingredientes: {
      required,
      minLength: minLength(2),
      maxLength: maxLength(255),
    },
    preco: {
      required,
      decimal,
      between: between(0, 999),
    }
  },
  methods: {
    saveItem: function() {
        this.preco = this.item.preco;
        this.ingredientes = this.item.ingredientes;
        
        this.submitted = true;
        this.$v.$touch();

        if (!this.$v.$invalid) {
            this.validationErrors = "";

            axios.put(`/api/restaurant/${this.restaurantName}/category/${this.categoryName}/menu/${this.item.nome}`, {
                preco: this.preco,
                ingredientes: this.ingredientes,
                photo: this.photo
            }, 
            {
                headers: {
                    Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
            })
            .then(response => {
                this.beforeItemIngredientes = this.item.ingredientes;
                this.beforeItemPreco = this.item.preco;
                this.item.photo = response.data.menu.photo + "?" + new Date().getTime();
                this.$emit("cancel-edit");
                this.$toasted.show("item editado com successo");
            })
            .catch(error => {
                if(error != null){
                    if (error.response.status == 422) {
                        this.validationErrors = error.response.data.errors;
                    }
                  }
            });
        }
    },
    cancelEdit: function() {
      this.item.ingredientes = this.beforeItemIngredientes;
      this.item.preco = this.beforeItemPreco;
      this.$emit("cancel-edit");
    },
    imageChanged(event) {
            let fileReader = new FileReader();
            try{
                fileReader.readAsDataURL(event.target.files[0]);
                fileReader.onload = event => {
                    this.photo = event.target.result;
                };
            }catch(error){
              console.log(error);
            }
        }
  },
  mounted() {
    this.beforeItemIngredientes = this.item.ingredientes;
    this.beforeItemPreco = this.item.preco;
  },
};
</script>

<style scoped>

</style>