<template>
  <div>
      <div class="p-5 col-md-12 text-center" >
        <a class="separator">{{categoryName}} do restaurante - {{restaurantName}}</a>
      </div>

      <restaurant-category-item-create :restaurantName="this.restaurantName" :categoryName="this.categoryName" @item-created="updateListItems"></restaurant-category-item-create>
      
      <vue-good-table
          :columns="columns"
          :rows="this.items"
          :search-options="{enabled: true, placeholder: 'Procura na tabela'}"
          @on-page-change="onPageChange"
          @on-per-page-change="onPageSizeChange"
          :pagination-options="{ enabled: true, mode: 'pages', perPageDropdown: [5, 10, 15], dropdownAllowAll: false}">
            <template slot="table-row" slot-scope="props">
              <span v-if="props.column.field == 'photo'">
                  <img v-bind:src="props.row.photo" height="70" width="70" />
              </span>
              <span v-else-if="props.column.field == 'disabled'">
                  <span v-if="props.row.disabled">
                    Sim
                  </span>
                  <span v-else>
                    Não
                  </span>
                </span>
                <span v-else-if="props.column.field == 'preco'">
                  {{props.row.preco}} €
                </span>
              <span v-else-if="props.column.field == 'actions'">
                <span v-if="!props.row.disabled">
                      <button
                        @click="deactivateItem(props)"
                        class="btn btn-danger btn-lg"
                      >Desativar</button>
                </span>
                <span v-else>
                      <button
                        @click="activateItem(props)"
                        class="btn btn-info btn-lg"
                      >Ativar</button>
                </span>
                <button
                    class="btn btn-success btn-lg"
                    @click="editItem(props)"
                  >Editar</button>
                  <button
                    class="btn btn-warning btn-lg"
                    @click="itemAlergies(props.row)"
                  >Alergénicos</button>
            </span>
            </template>
          </vue-good-table>
          <div class="jumbotron" v-if="editingItem">
            <item-edit
              :item="currentItem"
              :restaurantName="this.restaurantName"
              :categoryName="this.categoryName"
              @cancel-edit="cancelEdit"
            ></item-edit>
          </div>

  </div>
</template>

<script>
export default {
  data() {
    return {
        currentPage: 0,
        currentPageSize: 5,
        items: [],
        restaurantName: "",
        categoryName: "",
        editingItem: false,
        currentItem: null,
        columns: [
          {
            label: 'Imagem',
            field: 'photo',
            sortable: false
          },
          {
            label: 'Nome',
            field: 'nome',
            filterOptions: {
              enabled: true,
            }
          },
          {
            label: 'Preço',
            field: 'preco',
            type: 'decimal',
            filterOptions: {
              enabled: true,
            }
          },
          {
            label: 'Ingredientes',
            field: 'ingredientes',
            width: '400px',
            filterOptions: {
              enabled: true,
            }
          },
          {
            label: 'Desativado',
            field: 'disabled',
            sortable: false,
            filterOptions: {
              enabled: true,
              placeholder: " ",
              filterDropdownItems: [  
                { value: true, text: 'Sim' },  
                { value: false, text: 'Não' }
              ],
            }
          },
          {
            label: 'Ações',
            field: 'actions',
            sortable: false,
            width: '400px'
          }
        ]
    };
  },
  methods: {
    onPageChange(params){
      this.currentPage = params.currentPage - 1;
    },
    onPageSizeChange(params){
      this.currentPageSize = params.currentPerPage
    },
    itemAlergies(item){
        this.$router.push(`/backoffice/restaurant/${this.restaurantName}/${this.categoryName}/${item.nome}/allergens`).catch(error =>{
          console.log(error);
        });
    },
    cancelEdit() {
      this.editingItem = false;
    },
    editItem(props) {
      var item = this.items[props.index + (this.currentPage * this.currentPageSize)];
      if(this.currentItem == item){
        this.editingItem = !this.editingItem;
        return;
      }

      this.currentItem = item;
      this.editingItem = false;
      this.editingItem = true;
    },
    updateListItems(item){
      this.items.push(item)
    },
    activateItem(props) {
      axios
        .put(
          `/api/restaurant/${this.restaurantName}/category/${this.categoryName}/menu/${props.row.nome}/activate`,
          {},
          {
            headers: {
              Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
          }
        )
        .then(response => {
          this.$toasted.show(response.data.msg);
          this.items[props.index + (this.currentPage * this.currentPageSize)].disabled = false;
        })
        .catch(error => {

        });
    },
    deactivateItem(props) {
      axios
        .put(
          `/api/restaurant/${this.restaurantName}/category/${this.categoryName}/menu/${props.row.nome}/deactivate`,
          {},
          {
            headers: {
              Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
          }
        )
        .then(response => {
          this.$toasted.show(response.data.msg);
          this.items[props.index + (this.currentPage * this.currentPageSize)].disabled = true;
        })
        .catch(error => {

        });
    },
  },
  computed: {

  },
  mounted() {
    this.restaurantName = this.$route.params.restaurantName
    this.categoryName = this.$route.params.categoryName
    
    axios.get(`/api/restaurant/${this.restaurantName}/category/${this.categoryName}/menus`, {
        headers: {
          Authorization: "Bearer " + sessionStorage.getItem("id_token")
        }
      })
      .then(response => {
          if(response.data.menus != null){
            this.items = response.data.menus;
          }
      })
      .catch(error => {

      });
  },
};
</script>

<style scoped>

</style>