<template>
    <div>
        <navbar-side></navbar-side>

        <div class="content">
          <router-view></router-view>
        </div>
    </div>
</template>

<script>
export default {
  data() {
    return {

    };
  },
  methods: {

  },
  computed: {

  },
  mounted() {

  },

};
</script>

<style scoped>

</style>