<template>
  <div>
      <div class="p-5 col-md-12 text-center" >
        <a class="separator">Dashboard</a>
      </div>

      <div class="col-md-12">
          <div class="row mx-0 px-0">
            <div class="col-md-6">
                <b-link to="/backoffice/reservations/create">
                    <div class="square" style="background-color: #5E2C00;">
                        <h5>Adicionar Reserva +</h5>
                        <div>
                            <i class="fa fa-fw fa-book"></i>
                        </div>
                    </div>
                </b-link>
            </div>
          </div>


          <div class="row mx-0 px-0 mt-4">
            <div class="col-md-12">
              <b-button v-b-toggle.collapse-reservations class="button-collapse" style="font-size: 150%; background-color: #9F4E06;" block>
                <i class="fa fa-fw fa-book"></i> Reservas para os próximos dias: {{ reservations.length }}
              </b-button>
              <b-collapse id="collapse-reservations" class="mt-2">
                    <vue-good-table
                    ref="vuegoodtable"
                    :columns="columnsReservations"
                    :rows="this.reservations"
                    :search-options="{enabled: true, placeholder: 'Procura na tabela'}"
                    @on-page-change="onPageChangeReservation"
                    @on-per-page-change="onPageSizeChangeReservation"
                    :pagination-options="{ enabled: true, mode: 'pages', perPageDropdown: [5, 10, 25, 50], dropdownAllowAll: false}">
                      <template slot="table-row" slot-scope="props">
                        <span v-if="props.column.field == 'pago'">
                          <span v-if="props.row.pago">
                            Sim
                          </span>
                          <span v-else>
                            Não
                          </span>
                        </span>
                        <span v-else-if="props.column.field == 'actions'">
                          <span v-if="props.row.estado === 'em espera'">
                                <button
                                :class="props.row.id"
                                  @click="refuseReservation(props)"
                                  class="btn btn-dark btn-lg"
                                >Recusar</button>
                                <button
                                :class="props.row.id"
                                  @click="acceptReservation(props)"
                                  class="btn btn-warning btn-lg"
                                >Aceitar</button>
                          </span>
                              <button v-if="props.row.pago"
                                class="btn btn-primary btn-lg"
                                @click="detailsReservation(props.row)"
                              >Detalhes</button>
                        </span>
                      </template>
                    </vue-good-table>
              </b-collapse>
            </div>
          </div>


          <div class="row mx-0 px-0 mt-4">
            <div class="col-md-12">
              <b-button v-b-toggle.collapse-takeaways class="button-collapse p-4" style="font-size: 150%; background-color: #9F4E06;" block>
                <i class="fa fa-fw fa-truck"></i> Takeaways para os próximos dias: {{ takeaways.length }}
              </b-button>
              <b-collapse id="collapse-takeaways" class="mt-2">
                    <vue-good-table
                      ref="vuegoodtable"
                      :columns="columnsTakeaways"
                      :rows="this.takeaways"
                      :search-options="{enabled: true, placeholder: 'Procura na tabela'}"
                      @on-page-change="onPageChangeTakeaway"
                      @on-per-page-change="onPageSizeChangeTakeaway"
                      :pagination-options="{ enabled: true, mode: 'pages', perPageDropdown: [5, 10, 25, 50], dropdownAllowAll: false}">
                        <template slot="table-row" slot-scope="props">
                          <span v-if="props.column.field == 'pago'">
                            <span v-if="props.row.pago">
                              Sim
                            </span>
                            <span v-else>
                              Não
                            </span>
                          </span>
                          <span v-else-if="props.column.field == 'actions'">
                            <span v-if="props.row.estado === 'aceite'">
                                  <button
                                  :class="props.row.id"
                                    @click="prepareTakeaway(props)"
                                    class="btn btn-success btn-lg"
                                  >Confecionar</button>
                            </span>
                            <span v-if="props.row.estado === 'em preparacao'">
                                  <button
                                  :class="props.row.id"
                                    @click="finishTakeaway(props)"
                                    class="btn btn-success btn-lg"
                                  >Pronto</button>
                            </span>
                            <span v-if="props.row.estado === 'pronto'">
                                  <button
                                  :class="props.row.id"
                                    @click="liftTakeaway(props)"
                                    class="btn btn-success btn-lg"
                                  >Completar</button>
                            </span>
                                <button v-if="props.row.pago"
                                  class="btn btn-primary btn-lg"
                                  @click="detailsTakeaway(props.row)"
                                >Detalhes</button>
                          </span>
                        </template>
                      </vue-good-table>
              </b-collapse>
            </div>
          </div>

    
      </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      currentPageReservation: 0,
      currentPageSizeReservation: 5,
      currentPageTakeaway: 0,
      currentPageSizeTakeaway: 5,
      updatingStatusTakeaway: false,
      updatingStatusReservation: false,
      reservations: [],
      takeaways: [],
      columnsReservations: [
          {
            label: 'Data da reserva',
            field: 'data',
            filterOptions: {
              enabled: true,
            }
          },
          {
            label: 'Restaurante',
            field: 'restaurante',
            filterOptions: {
              enabled: true,
            }
          },
          {
            label: 'Quantidade de pessoas',
            field: 'numeroPessoas',
            filterOptions: {
              enabled: true,
            }
          },
          {
            label: 'Cliente',
            field: 'nome',
            filterOptions: {
              enabled: true,
            }
          },
          {
            label: 'Telemóvel',
            field: 'telemovel',
            filterOptions: {
              enabled: true,
            }
          },
          {
            label: 'Estado',
            field: 'estado',
            filterOptions: {
              enabled: true,
              placeholder: " ",
              filterDropdownItems: [  
                { value: 'aceite', text: 'Aceite' },  
                { value: 'em espera', text: 'Em espera' },
                { value: 'recusado', text: 'Recusado' }
              ],
            }
          },
          {
            label: 'Ações',
            field: 'actions',
            sortable: false,
            width: '250px'
          }
        ],
        columnsTakeaways: [
          {
            label: 'Data de entrega',
            field: 'data',
            filterOptions: {
              enabled: true,
            }
          },
          {
            label: 'Restaurante',
            field: 'restaurante',
            filterOptions: {
              enabled: true,
            }
          },
          {
            label: 'Comentario',
            field: 'comentario',
            filterOptions: {
              enabled: true,
            }
          },
          {
            label: 'Cliente',
            field: 'nome',
            filterOptions: {
              enabled: true,
            }
          },
          {
            label: 'Telemóvel',
            field: 'telemovel',
            filterOptions: {
              enabled: true,
            }
          },
          {
            label: 'Ações',
            field: 'actions',
            sortable: false,
            width: '250px'
          }
        ]
    };
  },
  methods: {
    onPageChangeTakeaway(params){
      this.currentPageTakeaway = params.currentPage - 1;
    },
    onPageSizeChangeTakeaway(params){
      this.currentPageSizeTakeaway = params.currentPerPage;
    },
    onPageChangeReservation(params){
      this.currentPageReservation = params.currentPage - 1;
    },
    onPageSizeChangeReservation(params){
      this.currentPageSizeReservation = params.currentPerPage;
    },
    detailsReservation(reservation){
        this.$router.push(`/backoffice/reservation/${reservation.id}/order`).catch(error =>{
          console.log(error);
        });
    },
    detailsTakeaway(takeaway){
      console.log(takeaway);
        this.$router.push(`/backoffice/takeaway/${takeaway.id}/order`).catch(error =>{
          console.log(error);
        });
    },
    acceptReservation(props){
      this.toggleDisable(props.row.id, true);
      axios
        .put(
          `/api/reservation/${props.row.id}/accept`,
          {},
          {
            headers: {
              Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
          }
        )
        .then(response => {
          this.$toasted.show(response.data.msg);
          this.reservations[props.index + (this.currentPageReservation * this.currentPageSizeReservation)].estado = "aceite"
          this.toggleDisable(props.row.id, false);
        })
        .catch(error => {
          this.toggleDisable(props.row.id, false);
        });
    },
    refuseReservation(props){
      this.toggleDisable(props.row.id, true);
      axios
        .put(
          `/api/reservation/${props.row.id}/refuse`,
          {},
          {
            headers: {
              Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
          }
        )
        .then(response => {
          this.$toasted.show(response.data.msg);
          this.reservations[props.index + (this.currentPageReservation * this.currentPageSizeReservation)].estado = "recusado"
          this.toggleDisable(props.row.id, false);
        })
        .catch(error => {
          this.toggleDisable(props.row.id, false);
        });
    },
    prepareTakeaway(props){
      this.toggleDisable(props.row.id, true);
      axios
        .put(
          `/api/takeaway/${props.row.id}/prepare`,
          {},
          {
            headers: {
              Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
          }
        )
        .then(response => {
          this.$toasted.show(response.data.msg);
          this.takeaways[props.index + (this.currentPageTakeaway * this.currentPageSizeTakeaway)].estado = "em preparacao"
          this.toggleDisable(props.row.id, false);
        })
        .catch(error => {
          this.toggleDisable(props.row.id, false);
        });
    },
    finishTakeaway(props){
      this.toggleDisable(props.row.id, true);
      axios
        .put(
          `/api/takeaway/${props.row.id}/finish`,
          {},
          {
            headers: {
              Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
          }
        )
        .then(response => {
          this.$toasted.show(response.data.msg);
          this.takeaways[props.index + (this.currentPageTakeaway * this.currentPageSizeTakeaway)].estado = "pronto"
          this.toggleDisable(props.row.id, false);
        })
        .catch(error => {
          this.toggleDisable(props.row.id, false);
        });
    },
    liftTakeaway(props){
      this.toggleDisable(props.row.id, true);
      axios
        .put(
          `/api/takeaway/${props.row.id}/lift`,
          {},
          {
            headers: {
              Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
          }
        )
        .then(response => {
          this.$toasted.show(response.data.msg);
          this.takeaways.splice(props.index + (this.currentPageTakeaway * this.currentPageSizeTakeaway), 1);
          this.toggleDisable(props.row.id, false);
        })
        .catch(error => {
          this.toggleDisable(props.row.id, false);
        });
    },
    toggleDisable(className, value){
      var aux = document.getElementsByClassName(className);
      for (var i = 0; i < aux.length; i++) {
        aux[i].disabled = value;
      }
    }
  },
  computed: {

  },
  mounted() {
    axios.get("/api/dashboard", {
        headers: {
          Authorization: "Bearer " + sessionStorage.getItem("id_token")
        }
      })
      .then(response => {
          if(response.data.takeaways != null){
              this.takeaways = response.data.takeaways;
          }
          if(response.data.reservations != null){
              this.reservations = response.data.reservations;
          }
      })
      .catch(error => {

      });
  },

};
</script>

<style scoped>
.button-collapse{
	color: white;
	cursor: pointer;
	padding: 25px;
  transition: all 0.5s;
}

.button-collapse:hover{
	box-shadow: 0px 0px 10px grey;
}

.square{
	padding: 50px !important;
}
</style>