<template>
  <div>
        <b-button v-b-toggle.collapse-1 variant="success" class="btn-lg" block>Criar Restaurante</b-button>
        <b-collapse id="collapse-1" class="mt-2">
            <b-card>
              <div class="p-5 col-md-12 text-center" >
                  <a class="separator">Criar Restaurante</a>
                </div>

                <validation-errors :errors="validationErrors" v-if="validationErrors"></validation-errors>

                <div class="form-group">
                    <label for="nome">Nome do restaurante</label>
                    <input v-model="nome" id="nome" name="nome" class="form-control" :class="{ 'is-invalid': submitted && $v.nome.$error }"/>
                    <div v-if="submitted && $v.nome.$error" class="invalid-feedback">
                    <span v-if="!$v.nome.required">Nome do restaurante é obrigatório</span>
                    <span v-if="!$v.nome.minLength">Nome do restaurante tem de ter mais de 1 caracteres</span>
                    <span v-if="!$v.nome.maxLength">Nome do restaurante tem de ter menos que 64 caracteres</span>
                    </div>
                </div>

                <div class="form-group">
                  <label for="photo">Imagem</label>
                  <br>
                  <input type="file" accept="image/jpeg" id="photo" name="photo" class="form-control-file" @change="imageChanged"/>
                </div>

                <div class="form-group">
                    <label for="telefone">Telefone</label>
                    <input v-model="telefone" id="telefone" name="telefone" type="number" class="form-control" :class="{ 'is-invalid': submitted && $v.telefone.$error }"/>
                    <div v-if="submitted && $v.telefone.$error" class="invalid-feedback">
                    <span v-if="!$v.telefone.required">Telefone é obrigatório</span>
                    <span v-if="!$v.telefone.minLength">Telefone tem de ter mais que 2 numeros</span>
                    <span v-if="!$v.telefone.maxLength">Telefone tem de ter menos que 16 numeros</span>
                    <span v-if="!$v.telefone.integer">Telefone só pode ser constituido por numeros</span>
                    <span v-if="!$v.telefone.minValue">Telefone tem de ser positivo</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="horario">Descrição do horário</label>
                    <textarea v-model="horario" id="horario" name="horario" type="textarea" class="form-control" :class="{ 'is-invalid': submitted && $v.horario.$error }"/>
                    <div v-if="submitted && $v.horario.$error" class="invalid-feedback">
                    <span v-if="!$v.horario.required">Descrição do horário é obrigatório</span>
                    <span v-if="!$v.horario.minLength">Descrição do horário tem de ter mais de 1 caracteres</span>
                    <span v-if="!$v.horario.maxLength">Descrição do horário tem de ter menos que 256 caracteres</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="lat">Latitude</label>
                    <input v-model="lat" type="number" id="lat" name="lat" class="form-control" :class="{ 'is-invalid': submitted && $v.lat.$error }"/>
                    <div v-if="submitted && $v.lat.$error" class="invalid-feedback">
                    <span v-if="!$v.lat.required">Latitude é obrigatório</span>
                    <span v-if="!$v.lat.decimal">Latitude tem de ser um numero decimal</span>
                    <span v-if="!$v.lat.between">Latitude tem de estar entre -90 e 90</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="lon">Longitude</label>
                    <input v-model="lon" type="number" id="lon" name="lon" class="form-control" :class="{ 'is-invalid': submitted && $v.lon.$error }"/>
                    <div v-if="submitted && $v.lon.$error" class="invalid-feedback">
                    <span v-if="!$v.lon.required">Longitude é obrigatório</span>
                    <span v-if="!$v.lon.decimal">Latitude tem de ser um numero decimal</span>
                    <span v-if="!$v.lon.between">Latitude tem de estar entre -180 e 180</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="numeroMaxPorReserva">Número máximo de pessoas por reserva</label>
                    <input v-model="numeroMaxPorReserva" id="numeroMaxPorReserva" name="numeroMaxPorReserva" type="number" class="form-control" :class="{ 'is-invalid': submitted && $v.numeroMaxPorReserva.$error }"/>
                    <div v-if="submitted && $v.numeroMaxPorReserva.$error" class="invalid-feedback">
                    <span v-if="!$v.numeroMaxPorReserva.required">Número máximo de pessoas por reserva é obrigatório</span>
                    <span v-if="!$v.numeroMaxPorReserva.integer">Número máximo de pessoas por reserva só pode ser constituido por numeros</span>
                    <span v-if="!$v.numeroMaxPorReserva.minValue">Número máximo de pessoas por reserva tem de ser positivo</span>
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block" :disabled="processing" v-on:click.prevent="createRestaurant">Criar</button>
                </div>
            </b-card>
            <br>
        </b-collapse>
  </div>
</template>

<script>
import { required, decimal, between, minLength, maxLength, integer, minValue } from "vuelidate/lib/validators";

export default {
  data() {
    return {
        submitted: false,
        validationErrors: "",
        telefone: "",
        horario: "",
        nome: "",
        photo: null,
        lat: "",
        lon: "",
        numeroMaxPorReserva: "",
        processing: false
    };
  },
  validations: {
    nome: {
      required,
      minLength: minLength(2),
      maxLength: maxLength(64),
    },
    horario: {
      required,
      minLength: minLength(2),
      maxLength: maxLength(255),
    },
    telefone: {
        required,
        integer,
        minValue: minValue(1),
        minLength: minLength(3),
        maxLength: maxLength(16),
    },
    numeroMaxPorReserva: {
      required,
      integer,
      minValue: minValue(1),
    },
    lat: {
        required,
        decimal,
        between: between(-90, 90),
    },
    lon: {
        required,
        decimal,
        between: between(-180, 180),
    },
  },
  methods: {
    createRestaurant(){
      this.submitted = true;
      this.$v.$touch();

      if (!this.$v.$invalid) {

        if(this.processing){
          return;
        }else{
          this.processing = true;
        }

        this.validationErrors = "";

        axios.post("api/restaurant", {
            nome: this.nome,
            horario: this.horario,
            telefone: this.telefone,
            photo: this.photo,
            lat: this.lat,
            lon: this.lon,
            numeroMaxPorReserva: this.numeroMaxPorReserva
          },
          {
            headers: {
              Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
          })
          .then(response => {
            this.$emit("restaurant-created", response.data.data);
            this.$toasted.show('Restaurante criado!');
            this.processing = false;
          })
          .catch(error => {
            if(error != null){
              if (error.response.status == 422) {
                this.validationErrors = error.response.data.errors;
              }
            }
            this.processing = false;
          });
      }
    },
    imageChanged(event) {
        let fileReader = new FileReader();
        try{
          fileReader.readAsDataURL(event.target.files[0]);
          fileReader.onload = event => {
            this.photo = event.target.result;
          };
        }catch(error){
          console.log(error);
        }
    }
  },
  computed: {

  },
  mounted() {

  },

};
</script>

<style>

</style>