<template>
  <div>
    
    <div class="col-md-12 px-0">
      <div class="square">
          <img v-if="restaurant !== null" class="parallax" v-bind:src="restaurant.image">
          <img v-else class="parallax" src='static/placeholder.jpg'>
          <span v-if="restaurant" class="parallaxTitleText">Detalhes de {{restaurant.nome}}</span>
      </div>
    </div>


    <div class="p-5 col-md-12 text-center" >
      <a class="separator">Horário</a>
    </div>

    <div class="content-text">
      <p v-if="restaurant">{{restaurant.horario}}</p>
    </div>

    <div class="p-5 col-md-12 text-center" >
      <a class="separator">Contacto</a>
    </div>

    <div class="content-text">
      <p v-if="restaurant">{{restaurant.telefone}}</p>
    </div>

    <div class="p-5 col-md-12 text-center" >
      <a class="separator">Localização</a>
    </div>

    <div v-if="loaded">
      <iframe width="100%" height="400px" frameborder="0" class="p-4" :src="googleMapsSrc" allowfullscreen></iframe>
    </div>

  </div>
</template>

<script>
export default {
  data() {
    return {
      restaurantName: [],
      restaurant: null,
      loaded: false,
      googleMapsSrc: ""
    };
  },
  methods: {

  },
  computed: {

  },
  mounted() {
    this.restaurantName = this.$route.params.restaurantName

    axios.get(`/api/restaurant/${this.restaurantName}/details`, {})
      .then(response => {
          if(response.data.restaurant != null){
            this.restaurant = response.data.restaurant;
            this.googleMapsSrc = `https://www.google.com/maps/embed/v1/place?q=${this.restaurant.lat},${this.restaurant.lon}&key=AIzaSyA3D0EIzU-92sOXpRg1Ww3CRxvPTKLHv1M&zoom=21`;
            this.loaded = true;
          }
      })
      .catch(error => {

      });
  },

};
</script>

<style scoped>
.separator{
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 50px;
    border: none;
    border-bottom: 2px solid #783800 !important;
    text-align: center;
    text-decoration: none;
    font-size: 200%;
    padding: 15px 20px;
}

.parallax {
  opacity: 0.5;
  background-size: cover;
  background-attachment: fixed; 
  object-fit: cover;
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallaxTitleText {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 300%;
  font-family: "Segoe UI";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.square{
	background-color: black;
	color: white;
	transition: all 0.5s;
	width: 100%;
  height: 100%;
}

.square i{
	font-size: 50pt;
}

.square div,h5{
	text-align: center;
}

.square h5{
	text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 2px;
}

.container-text{
  position:relative;
  padding: 5%;
}

.content-text {
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  max-width:70%;
  font-size: 30px;
}
</style>