<template>
  <div>
            <b-card>
                <h2>Editar {{restaurant.nome}}</h2>
                
                <validation-errors :errors="validationErrors" v-if="validationErrors"></validation-errors>

                <div class="form-group">
                  <label for="photo">Imagem</label>
                  <br>
                  <input type="file" accept="image/jpeg" id="photo" name="photo" class="form-control-file" @change="imageChanged"/>
                </div>

                <div class="form-group">
                    <label for="telefone">Telefone</label>
                    <input v-model="restaurant.telefone" id="telefone" name="telefone" class="form-control" :class="{ 'is-invalid': submitted && $v.telefone.$error }"/>
                    <div v-if="submitted && $v.telefone.$error" class="invalid-feedback">
                    <span v-if="!$v.telefone.required">Telefone é obrigatório</span>
                    <span v-if="!$v.telefone.minLength">Telefone tem de ter mais que 2 numeros</span>
                    <span v-if="!$v.telefone.maxLength">Telefone tem de ter menos que 16 numeros</span>
                    <span v-if="!$v.telefone.integer">Telefone só pode ser constituido por numeros</span>
                    <span v-if="!$v.telefone.minValue">Telefone tem de ser positivo</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="horario">Descrição do horário</label>
                    <textarea v-model="restaurant.horario" id="horario" name="horario" class="form-control" :class="{ 'is-invalid': submitted && $v.horario.$error }"/>
                    <div v-if="submitted && $v.horario.$error" class="invalid-feedback">
                    <span v-if="!$v.horario.required">Descrição do horário é obrigatório</span>
                    <span v-if="!$v.horario.minLength">Descrição do horário tem de ter mais de 1 caracteres</span>
                    <span v-if="!$v.horario.maxLength">Descrição do horário tem de ter menos que 255 caracteres</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="lat">Latitude</label>
                    <input v-model="restaurant.lat" id="lat" type="number" name="lat" class="form-control" :class="{ 'is-invalid': submitted && $v.lat.$error }"/>
                    <div v-if="submitted && $v.lat.$error" class="invalid-feedback">
                    <span v-if="!$v.lat.required">Latitude é obrigatório</span>
                    <span v-if="!$v.lat.decimal">Latitude tem de ser um numero decimal</span>
                    <span v-if="!$v.lat.between">Latitude tem de estar entre -90 e 90</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="lon">Longitude</label>
                    <input v-model="restaurant.lon" id="lon" type="number" name="lon" class="form-control" :class="{ 'is-invalid': submitted && $v.lon.$error }"/>
                    <div v-if="submitted && $v.lon.$error" class="invalid-feedback">
                    <span v-if="!$v.lon.required">Longitude é obrigatório</span>
                    <span v-if="!$v.lon.decimal">Latitude tem de ser um numero decimal</span>
                    <span v-if="!$v.lon.between">Latitude tem de estar entre -180 e 180</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="numeroMaxPorReserva">Número máximo de pessoas por reserva</label>
                    <input v-model="restaurant.numeroMaxPorReserva" id="numeroMaxPorReserva" name="numeroMaxPorReserva" type="number" class="form-control" :class="{ 'is-invalid': submitted && $v.numeroMaxPorReserva.$error }"/>
                    <div v-if="submitted && $v.numeroMaxPorReserva.$error" class="invalid-feedback">
                    <span v-if="!$v.numeroMaxPorReserva.required">Número máximo de pessoas por reserva é obrigatório</span>
                    <span v-if="!$v.numeroMaxPorReserva.integer">Número máximo de pessoas por reserva só pode ser constituido por numeros</span>
                    <span v-if="!$v.numeroMaxPorReserva.minValue">Número máximo de pessoas por reserva tem de ser positivo</span>
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block" v-on:click.prevent="saveRestaurant">Guardar</button>
                </div>
                <div class="form-group">
                    <button class="btn btn-danger btn-lg btn-block" v-on:click.prevent="cancelEdit">Cancel</button>
                </div>
            </b-card>
  </div>
</template>

<script>
import { required, decimal, between, minLength, maxLength, integer, minValue } from "vuelidate/lib/validators";

export default {
  props: ["restaurant"],
  data: function() {
    return {
        submitted: false,
        beforeRestaurantTelefone: null,
        beforeRestaurantHorario: null,
        beforeRestaurantLat: null,
        beforeRestaurantLon: null,
        beforeRestaurantMaxNumReservation: null,
        validationErrors: "",
        lat: "",
        telefone: "",
        lon: "",
        horario: null,
        photo: null,
        numeroMaxPorReserva: ""
    };
  },
  validations: {
    horario: {
      required,
      minLength: minLength(2),
      maxLength: maxLength(255),
    },
    telefone: {
        required,
        integer,
        minValue: minValue(1),
        minLength: minLength(3),
        maxLength: maxLength(16),
    },
    numeroMaxPorReserva: {
        required,
        integer,
        minValue: minValue(1),
    },
    lat: {
        required,
        decimal,
        between: between(-90, 90),
    },
    lon: {
        required,
        decimal,
        between: between(-180, 180),
    },
  },
  methods: {
    saveRestaurant: function() {
        this.lat = this.restaurant.lat;
        this.lon = this.restaurant.lon;
        this.telefone = this.restaurant.telefone;
        this.horario = this.restaurant.horario;
        this.numeroMaxPorReserva = this.restaurant.numeroMaxPorReserva
        
        this.submitted = true;
        this.$v.$touch();

        if (!this.$v.$invalid) {
            this.validationErrors = "";

            axios.put(`/api/restaurant/${this.restaurant.nome}`, {
                lat: this.lat,
                lon: this.lon,
                telefone: this.telefone,
                horario: this.horario,
                photo: this.photo,
                numeroMaxPorReserva: this.numeroMaxPorReserva
            }, 
            {
                headers: {
                    Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
            })
            .then(response => {
                this.beforeRestaurantTelefone = this.restaurant.telefone;
                this.beforeRestaurantHorario = this.restaurant.horario;
                this.beforeRestaurantLat = this.restaurant.lat;
                this.beforeRestaurantLon = this.restaurant.lon;
                this.beforeRestaurantMaxNumReservation = this.restaurant.numeroMaxPorReserva;
                this.restaurant.photo = response.data.restaurant.photo + "?" + new Date().getTime();
                this.$emit("cancel-edit");
                this.$toasted.show("restaurante editado com successo");
            })
            .catch(error => {
                if(error != null){
                    if (error.response.status == 422) {
                        this.validationErrors = error.response.data.errors;
                    }
                }
            });
        }
    },
    cancelEdit: function() {
      this.restaurant.telefone = this.beforeRestaurantTelefone;
      this.restaurant.horario = this.beforeRestaurantHorario;
      this.restaurant.lat = this.beforeRestaurantLat;
      this.restaurant.lon = this.beforeRestaurantLon;
      this.restaurant.numeroMaxPorReserva = this.beforeRestaurantMaxNumReservation;
      this.$emit("cancel-edit");
    },
    imageChanged(event) {
        let fileReader = new FileReader();
        try{
            fileReader.readAsDataURL(event.target.files[0]);
            fileReader.onload = event => {
                this.photo = event.target.result;
            };
        }catch(error){
            console.log(error);
        }
    }
  },
  mounted() {
      this.beforeRestaurantTelefone = this.restaurant.telefone;
      this.beforeRestaurantHorario = this.restaurant.horario;
      this.beforeRestaurantLat = this.restaurant.lat;
      this.beforeRestaurantLon = this.restaurant.lon;
      this.beforeRestaurantMaxNumReservation = this.restaurant.numeroMaxPorReserva;
  },
};
</script>

<style scoped>

</style>