<template>
  <div>
        <div class="p-5 col-md-12 text-center" >
          <a class="separator">Lista de Restaurantes</a>
        </div>
        
        <restaurant-create @restaurant-created="updateList"></restaurant-create>
        
        <vue-good-table
        ref="vuegoodtable"
        :columns="columns"
        :rows="this.restaurants"
        :search-options="{enabled: true, placeholder: 'Procura na tabela'}"
          @on-page-change="onPageChange"
          @on-per-page-change="onPageSizeChange"
        :pagination-options="{ enabled: true, mode: 'pages', perPageDropdown: [5, 10, 25, 50], dropdownAllowAll: false}">
          <template slot="table-row" slot-scope="props">
            <span v-if="props.column.field == 'disabled'">
              <span v-if="props.row.disabled">
                Sim
              </span>
              <span v-else>
                Não
              </span>
            </span>
            <span v-else-if="props.column.field == 'photo'">
                <img v-bind:src="props.row.photo" height="70" width="70" />
            </span>
            <span v-else-if="props.column.field == 'actions'">
                <span v-if="!props.row.disabled">
                      <button
                        @click="deactivateRestaurant(props)"
                        class="btn btn-danger btn-lg"
                      >Desativar</button>
                </span>
                <span v-else>
                      <button
                        @click="activateRestaurant(props)"
                        class="btn btn-info btn-lg"
                      >Ativar</button>
                </span>
                <button
                    class="btn btn-success btn-lg"
                    @click="editRestaurant(props)"
                  >Editar</button>
                  <button
                    class="btn btn-warning btn-lg"
                    @click="restaurantCategory(props.row)"
                  >Categorias</button>
                  <button
                    class="btn btn-primary btn-lg"
                    @click="restaurantSchedule(props.row)"
                  >Horários</button>
            </span>
          </template>
        </vue-good-table>
        <div class="jumbotron" v-if="editingRestaurant">
          <restaurant-edit
            :restaurant="currentRestaurant"
            @cancel-edit="cancelEdit"
          ></restaurant-edit>
        </div>
  </div>
</template>

<script>
import { required, email, minLength, maxLength } from "vuelidate/lib/validators";

export default {
  data() {
    return {
        currentPage: 0,
        currentPageSize: 5,
        restaurants: [],
        editingRestaurant: false,
        columns: [
          {
            label: 'Imagem',
            field: 'photo',
            sortable: false
          },
          {
            label: 'Nome',
            field: 'nome',
            filterOptions: {
              enabled: true,
            }
          },
          {
            label: 'Telefone',
            field: 'telefone',
            filterOptions: {
              enabled: true,
            }
          },
          {
            label: 'Descrição do horário',
            field: 'horario',
            filterOptions: {
              enabled: true,
            },
            width: '250px'
          },
          {
            label: 'Latitude',
            field: 'lat',
            sortable: false
          },
          {
            label: 'Longitude',
            field: 'lon',
            sortable: false
          },
          {
            label: 'Número máximo de pessoas por reserva',
            field: 'numeroMaxPorReserva',
            sortable: false,
            width: '200px'
          },
          {
            label: 'Desativado',
            field: 'disabled',
            sortable: false,
            filterOptions: {
              enabled: true,
              placeholder: " ",
              filterDropdownItems: [  
                { value: true, text: 'Sim' },  
                { value: false, text: 'Não' }
              ],
            }
          },
          {
            label: 'Ações',
            field: 'actions',
            sortable: false,
            width: '470px'
          }
        ]
    };
  },
  methods: {
    onPageChange(params){
      this.currentPage = params.currentPage - 1;
    },
    onPageSizeChange(params){
      this.currentPageSize = params.currentPerPage
    },
    updateList(restaurant){
      this.restaurants.push(restaurant)
    },
    activateRestaurant(props) {
      axios
        .put(
          `/api/restaurant/${props.row.nome}/activate`,
          {},
          {
            headers: {
              Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
          }
        )
        .then(response => {
          this.$toasted.show(response.data.msg);
          this.restaurants[props.index + (this.currentPage * this.currentPageSize)].disabled = false;
        })
        .catch(error => {

        });
    },
    deactivateRestaurant(props) {
      axios
        .put(
          `/api/restaurant/${props.row.nome}/deactivate`,
          {},
          {
            headers: {
              Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
          }
        )
        .then(response => {
          this.$toasted.show(response.data.msg);
          this.restaurants[props.index + (this.currentPage * this.currentPageSize)].disabled = true;
        })
        .catch(error => {

        });
    },
    cancelEdit() {
      this.editingRestaurant = false;
    },
    editRestaurant(props) {
      var restaurant = this.restaurants[props.index + (this.currentPage * this.currentPageSize)];
      if(this.currentRestaurant == restaurant){
        this.editingRestaurant = !this.editingRestaurant;
        return;
      }

      this.currentRestaurant = restaurant;
      this.editingRestaurant = false;
      this.editingRestaurant = true;
    },
    restaurantCategory(restaurant){
      this.$router.push(`/backoffice/restaurant/${restaurant.nome}/categories`).catch(error =>{
          console.log(error);
        });
    },
    restaurantSchedule(restaurant){
      this.$router.push(`/backoffice/restaurant/${restaurant.nome}/schedules`).catch(error =>{
          console.log(error);
        });
    }
  },
  computed: {

  },
  mounted() {
    axios.get("/api/restaurants", {
        headers: {
          Authorization: "Bearer " + sessionStorage.getItem("id_token")
        }
      })
      .then(response => {
          if(response.data.restaurantes != null){
              this.restaurants = response.data.restaurantes;
          }
      })
      .catch(error => {

      });
  },

};
</script>

<style scoped>

</style>