<template>
  <div>

    <div class="col-md-12 px-0">
      <div class="squareTitle">
          <img v-if="restaurant !== null" class="parallax" v-bind:src="restaurant.image">
          <img v-else class="parallax" src='static/placeholder.jpg'>
          <span v-if="restaurant !== null" class="parallaxTitleText">Ementa</span>
          <span v-else class="parallaxTitleText">Ementa</span>
      </div>
    </div>

        <div>
          <b-dropdown id="dropdown" style="text-size: 30px;" text="Categoria da Ementa" class="m-md-2 m-3">
            <b-dropdown-item v-for="category in categories" v-bind:key="category" class="bookmark" :to="'#' + removeSpaces(category)">{{category}}</b-dropdown-item>
          </b-dropdown>
        </div>

    <div v-if="menu">
        <div v-for="category in categories" v-bind:key="category">
            <div class="p-4 col-md-12 text-center" >
                <a :id="removeSpaces(category)" class="separator">{{category}}</a>
            </div>

            <div class="row mx-0 px-0 cima">
                <div class="col-md-4 p-4" style="min-width: 300px" v-for="item in menu[`${category}`]" v-bind:key="item.nome">
                    <div @click="showDetails(item)" class="square" :style='{ backgroundImage: "url(" + imagePathStart + encodeURIComponent(item.nome) + imagePathEnd + ")" }'>
                        <div class="p-4" style="background-color: rgba(0,0,0, .4); height: 100%; width: 100%; display:flex; align-items: center; justify-content: center;">
                            <h5>{{item.nome}} <br><br> {{item.preco}} €</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        


  </div>
</template>

<script>

export default {
  data() {
    return {
        restaurantName: null,
        menu: null,
        categories: [],
        imagePathStart: null,
        imagePathEnd: null,
        restaurant: null,
    };
  },
  methods: {
      removeSpaces(string){
          return string.replace(/\s+/g, '')
      },
      showDetails(item){
        const h = this.$createElement

        const titleVNode = h('div', { domProps: { innerHTML: item.nome } })

        const messageVNode = 
        h('div', { class: ['foobar'] }, [
          h('b-img', {
            props: {
              src: this.imagePathStart + encodeURIComponent(item.nome) + this.imagePathEnd,
              thumbnail: true,
              center: true,
              fluid: true, rounded: 'circle'
            }
          }),
          h('p', [
            h('strong', 'Ingredientes:'),
          ]),
          h('p', [
            item.ingredientes,
          ])
        ])

        this.$bvModal.msgBoxOk([messageVNode], {
          title: [titleVNode],
          buttonSize: 'sm',
          hideBackdrop: true,
          centered: true, 
          size: 'sm'
        })
      }
  },
  computed: {
    
  },
  mounted() {
      this.restaurantName = this.$route.params.restaurantName

      axios.get(`/api/restaurant/${this.restaurantName}/menu`, {})
      .then(response => {
            if(response.data.menu != null){
                this.restaurant = response.data.restaurant;
                this.imagePathStart = response.data.pathStart;
                this.imagePathEnd = response.data.pathEnding;
                this.categories = Object.keys(response.data.menu);
                this.menu = response.data.menu;
            }
      })
      .catch(error => {

      });
  },

};
</script>

<style scoped>

.bookmark{
    position: relative;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 10px;
    border: none;
    border: 2px solid #783800 !important;
    text-align: center;
    text-decoration: none !important;
    font-size: 100%;
    padding: 5px 20px;
}

.squareTitle{
	background-color: black;
	color: white;
	transition: all 0.5s;
	width: 100%;
    height: 100%;
}

.parallax {
  opacity: 0.5;
  background-size: cover;
  background-attachment: fixed; 
  object-fit: cover;
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallaxTitleText {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 300%;
  font-family: "Segoe UI";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.square{
    background-size: cover;
    object-fit: cover;
	transition: all 0.5s;
	width: 100%;
    height: 350px;
    background-position: center center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.square i{
	font-size: 50pt;
}

.square div,h5,h6,h4{
    color: white;
    text-align: center;
}

.square h5{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 2px;
}

.square h6{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 2px;
}

.square h4{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 2px;
}
</style>