<template>
  <div>
          <div class="p-5 col-md-12 text-center" >
            <a class="separator">Entrar</a>
          </div>

          <validation-errors :errors="validationErrors" v-if="validationErrors"></validation-errors>

          <div class="form-group">
                      <label for="email">E-mail</label>
                      <input v-model="email" id="email" name="email" class="form-control" :class="{ 'is-invalid': (submitted || reset) && $v.email.$error }"/>
                      <div v-if="(submitted || reset) && $v.email.$error" class="invalid-feedback">
                      <span v-if="!$v.email.required">E-mail é obrigatório</span>
                      <span v-if="!$v.email.email">E-mail inválido</span>
                      </div>
                  </div>

                  <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" v-model="password" id="password" name="password" class="form-control" :class="{ 'is-invalid': submitted && $v.password.$error }"/>
                      <div v-if="submitted && $v.password.$error" class="invalid-feedback">
                      <span v-if="!$v.password.required">Password é obrigatória</span>
                      </div>
                  </div>

          <div class="form-group">
              <button class="btn btn-primary" :disabled="processing" v-on:click.prevent="login">Entrar</button>
              <a href="" :disabled="processing" v-on:click.prevent="resetPassword">Recuperar password</a>
          </div>
  </div>
</template>

<script>
import { required, email, minLength, maxLength } from "vuelidate/lib/validators";

export default {
  data() {
    return {
      processing: false,
      email: "",
      password: "",
      submitted: false,
      reset: false,
      validationErrors: ""
    };
  },
  validations: {
    email: {
      required,
      email
    },
    password: {
      required,
      minLength: minLength(3),
      maxLength: maxLength(20)
    }
  },
  methods: {
    resetPassword(){
      this.reset = true;
    
      this.$v.$touch();

      if (!this.$v.email.$invalid) {
        this.validationErrors = "";

        if(this.processing){
          return;
        }else{
          this.processing = true;
        }

        axios.post("api/resetPassword", {
            email: this.email
          })
          .then(response => {
            this.$toasted.show(response.data.msg);
            this.processing = false;
          })
          .catch(error => {
            if (error.response.status == 422) {
              this.validationErrors = error.response.data.errors;
            }
            this.processing = false;
          });
      }
    },
    login() {
      this.submitted = true;
      this.$v.$touch();

      if (!this.$v.$invalid) {
        this.validationErrors = "";

        if(this.processing){
          return;
        }else{
          this.processing = true;
        }

        axios.post("api/signInWithEmail", {
            email: this.email,
            password: this.password
          })
          .then(response => {
            this.$store.dispatch("setIdToken", response.data.token.id_token);
            this.$store.dispatch("setRefreshToken", response.data.token.refresh_token);
            this.$store.dispatch("setUid", response.data.user.uid);
            this.$store.dispatch("setUserRole", response.data.user.role);
            sessionStorage.setItem("id_token", response.data.token.id_token);
            sessionStorage.setItem("refresh_token", response.data.token.refresh_token);
            sessionStorage.setItem("uid", response.data.user.uid);
            sessionStorage.setItem("role", response.data.user.role);

            if(response.data.user.role == "admin" || response.data.user.role == "employee"){
                this.$router.push('/backoffice/dashboard');
            }else{
                this.$router.push('/');
            }
            this.processing = false;
          })
          .catch(error => {
            if (error.response.status == 422) {
              this.validationErrors = error.response.data.errors;
            }
            this.processing = false;
          });
      }
    },
    mounted() {

    },
  }
};
</script>

<style>

</style>