<template>
  <div>
            <div class="p-5 col-md-12 text-center" >
                <a class="separator">Criar Reserva</a>
            </div>

                <validation-errors :errors="validationErrors" v-if="validationErrors"></validation-errors>

                <div class="form-group">
                    <label for="data">Data</label>
                    <input v-model="data" id="data" type="datetime-local" name="data" class="form-control"/>
                </div>

                <div class="form-group">
                    <label for="nomeRestaurante">Nome do restaurante</label>
                    <select
                        class="form-control"
                        id="nomeRestaurante"
                        v-model="nomeRestaurante"
                        required
                        :class="{ 'is-invalid': submitted && $v.nomeRestaurante.$error }">
                        <option v-for="restaurante in restaurantNames" :value="restaurante.nome" :key="restaurante.nome">{{restaurante.nome}}</option>
                    </select>
                    <div v-if="submitted && $v.nomeRestaurante.$error" class="invalid-feedback">
                        <span v-if="!$v.nomeRestaurante.required">Nome do restaurante é obrigatório</span>
                        <span v-if="!$v.nomeRestaurante.minLength">Nome do restaurante tem de ter mais de 1 caracteres</span>
                        <span v-if="!$v.nomeRestaurante.maxLength">Nome do restaurante tem de ter menos que 64 caracteres</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="nome">Nome do cliente</label>
                    <input v-model="nome" id="nome" name="nome" class="form-control" :class="{ 'is-invalid': submitted && $v.nome.$error }"/>
                    <div v-if="submitted && $v.nome.$error" class="invalid-feedback">
                    <span v-if="!$v.nome.required">Nome do cliente é obrigatório</span>
                    <span v-if="!$v.nome.minLength">Nome do cliente tem de ter mais de 1 caracteres</span>
                    <span v-if="!$v.nome.maxLength">Nome do cliente tem de ter menos que 64 caracteres</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="telemovel">Número de telemóvel</label>
                    <input v-model="telemovel" id="telemovel" name="telemovel" type="number" class="form-control" :class="{ 'is-invalid': submitted && $v.telemovel.$error }"/>
                    <div v-if="submitted && $v.telemovel.$error" class="invalid-feedback">
                    <span v-if="!$v.telemovel.required">Número de Telemóvel é obrigatório</span>
                    <span v-if="!$v.telemovel.minLength">Número de Telemóvel tem de ter mais que 2 numeros</span>
                    <span v-if="!$v.telemovel.maxLength">Número de Telemóvel tem de ter menos que 16 numeros</span>
                    <span v-if="!$v.telemovel.integer">Número de Telemóvel só pode ser constituido por numeros</span>
                    <span v-if="!$v.telemovel.minValue">Número de Telemóvel tem de ser positivo</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="comment">Comentário</label>
                    <textarea v-model="comment" id="comment" name="comment" type="textarea" class="form-control" :class="{ 'is-invalid': submitted && $v.comment.$error }"/>
                    <div v-if="submitted && $v.comment.$error" class="invalid-feedback">
                    <span v-if="!$v.comment.required">Comentário é obrigatório</span>
                    <span v-if="!$v.comment.minLength">Comentário tem de ter mais de 1 caracteres</span>
                    <span v-if="!$v.comment.maxLength">Comentário tem de ter menos que 256 caracteres</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="numeroPessoas">Número de pessoas</label>
                    <input v-model="numeroPessoas" id="numeroPessoas" name="numeroPessoas" type="number" class="form-control" :class="{ 'is-invalid': submitted && $v.numeroPessoas.$error }"/>
                    <div v-if="submitted && $v.numeroPessoas.$error" class="invalid-feedback">
                    <span v-if="!$v.numeroPessoas.required">Numero de pessoas é obrigatório</span>
                    <span v-if="!$v.numeroPessoas.integer">Numero de pessoas só pode ser constituido por numeros</span>
                    <span v-if="!$v.numeroPessoas.minValue">Numero de pessoas tem de ser positivo</span>
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block" :disabled="processing" v-on:click.prevent="createReservation">Criar</button>
                </div>
  </div>
</template>

<script>
import { required, decimal, between, minLength, maxLength, integer, minValue } from "vuelidate/lib/validators";

export default {
  data() {
    return {
        submitted: false,
        validationErrors: "",
        restaurantNames: [],
        numeroPessoas: "",
        comment: "",
        nomeRestaurante: "",
        nome: "",
        data: null,
        telemovel: "",
        processing: false
    };
  },
  validations: {
    nome: {
      required,
      minLength: minLength(2),
      maxLength: maxLength(64),
    },
    comment: {
      minLength: minLength(0),
      maxLength: maxLength(255),
    },
    telemovel: {
        required,
        integer,
        minValue: minValue(1),
        minLength: minLength(3),
        maxLength: maxLength(16),
    },
    nomeRestaurante: {
      required,
      minLength: minLength(2),
      maxLength: maxLength(64),
    },
    numeroPessoas: {
      required,
      integer,
      minValue: minValue(1),
    }
  },
  methods: {
    back(){
        this.$router.go(-1);
    },
    createReservation(){
      this.submitted = true;
      this.$v.$touch();

      if (!this.$v.$invalid) {

        if(this.processing){
          return;
        }else{
          this.processing = true;
        }

        this.validationErrors = "";

        axios.post("api/reservation", {
            nome: this.nome,
            comentario: this.comment,
            numeroPessoas: this.numeroPessoas,
            nomeRestaurante: this.nomeRestaurante,
            data: this.data,
            telemovel: this.telemovel,
          },
          {
            headers: {
              Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
          })
          .then(response => {
            this.$emit("reservation-created", response.data.data);
            this.$toasted.show('Reserva criada!');
            this.processing = false;
          })
          .catch(error => {
            if(error != null){
              if (error.response.status == 422) {
                this.validationErrors = error.response.data.errors;
              }
            }
            this.processing = false;
          });
      }
    }
  },
  computed: {

  },
  mounted() {
      axios.get("/api/restaurants/names", {
          headers: {
            Authorization: "Bearer " + sessionStorage.getItem("id_token")
          }
        })
        .then(response => {
            if(response.data.names != null){
                this.restaurantNames = response.data.names;
            }
        })
        .catch(error => {

        });
  },

};
</script>

<style>

</style>