<template>
  <div>
            <b-card>
                <h2>Editar Reserva</h2>
                
                <validation-errors :errors="validationErrors" v-if="validationErrors"></validation-errors>

                <div class="form-group">
                    <label for="comentario">Comentário</label>
                    <textarea v-model="reservation.comentario" id="comentario" name="comentario" class="form-control" :class="{ 'is-invalid': submitted && $v.comentario.$error }"/>
                    <div v-if="submitted && $v.comentario.$error" class="invalid-feedback">
                    <span v-if="!$v.comentario.minLength">Comentário tem de ter mais de 1 caracteres</span>
                    <span v-if="!$v.comentario.maxLength">Comentário tem de ter menos que 255 caracteres</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="numeroPessoas">Número de pessoas</label>
                    <input v-model="reservation.numeroPessoas" id="numeroPessoas" name="numeroPessoas" type="number" class="form-control" :class="{ 'is-invalid': submitted && $v.numeroPessoas.$error }"/>
                    <div v-if="submitted && $v.numeroPessoas.$error" class="invalid-feedback">
                    <span v-if="!$v.numeroPessoas.required">Número de pessoas por reserva é obrigatório</span>
                    <span v-if="!$v.numeroPessoas.integer">Número de pessoas por reserva só pode ser constituido por numeros</span>
                    <span v-if="!$v.numeroPessoas.minValue">Número de pessoas por reserva tem de ser positivo</span>
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block" v-on:click.prevent="saveReservation">Guardar</button>
                </div>
                <div class="form-group">
                    <button class="btn btn-danger btn-lg btn-block" v-on:click.prevent="cancelEdit">Cancel</button>
                </div>
            </b-card>
  </div>
</template>

<script>
import { required, minLength, maxLength, integer, minValue } from "vuelidate/lib/validators";

export default {
  props: ["reservation"],
  data: function() {
    return {
        submitted: false,
        beforeReservationComment: null,
        beforeReservationNumberPeople: null,
        validationErrors: "",
        comentario: "",
        numeroPessoas: "",
    };
  },
  validations: {
    comentario: {
      minLength: minLength(0),
      maxLength: maxLength(255),
    },
    numeroPessoas: {
      required,
      integer,
      minValue: minValue(1),
    }
  },
  methods: {
    saveReservation: function() {
        this.comentario = this.reservation.comentario;
        this.numeroPessoas = this.reservation.numeroPessoas;
        
        this.submitted = true;
        this.$v.$touch();

        if (!this.$v.$invalid) {
            this.validationErrors = "";

            axios.put(`/api/reservation/${this.reservation.id}`, {
                comentario: this.comentario,
                numeroPessoas: this.numeroPessoas,
            }, 
            {
                headers: {
                    Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
            })
            .then(response => {
                this.beforeReservationComment = this.reservation.comentario;
                this.beforeReservationNumberPeople = this.reservation.numeroPessoas;
                this.$emit("cancel-edit");
                this.$toasted.show("reservation editado com successo");
            })
            .catch(error => {
                if(error != null){
                    if (error.response.status == 422) {
                        this.validationErrors = error.response.data.errors;
                    }
                }
            });
        }
    },
    cancelEdit: function() {
      this.reservation.comentario = this.beforeReservationComment;
      this.reservation.numeroPessoas = this.beforeReservationNumberPeople;
      this.$emit("cancel-edit");
    },
  },
  mounted() {
      this.beforeReservationComment = this.reservation.comentario;
      this.beforeReservationNumberPeople = this.reservation.numeroPessoas;
  },
};
</script>

<style scoped>

</style>