<template>
  <div>
        <div class="p-5 col-md-12 text-center" >
          <a class="separator">Lista de Reservas</a>
        </div>
        
        <b-button v-b-toggle.collapse-1 variant="success" v-on:click.prevent="increaseFlag()" class="btn-lg" block>Criar Reserva</b-button>
        <b-collapse id="collapse-1" class="mt-2">
            <b-card v-if="flag > 0">
                <backofficeReservationsCreate @reservation-created="updateList"></backofficeReservationsCreate>
            </b-card>
            <br>
        </b-collapse>


      <div class="row">
        <div class="col-sm">
          <div class="col-sm">Restaurante</div>
          <input type="text" :disabled="order != null" class="form-control" v-model="restaurant" />
        </div>
        <div class="col-sm">
          <div class="col-sm">Pago</div>
          <select v-model="payed" :disabled="order != null" class="form-control">
            <option :value="null" selected></option>
            <option value="1">Sim</option>
            <option value="0">Não</option>
          </select>
        </div>
        <div class="col-sm">
          <div class="col-sm">Estado</div>
          <select v-model="status" :disabled="order != null" class="form-control">
            <option :value="null" selected></option>
            <option value="aceite">Aceite</option>
            <option value="recusado">Recusado</option>
            <option value="em espera">Em espera</option>
          </select>
        </div>
        <div class="col-sm">
          <div class="col-sm">Cancelado</div>
          <select v-model="disabled" :disabled="order != null" class="form-control">
            <option :value="null" selected></option>
            <option value="1">Sim</option>
            <option value="0">Não</option>
          </select>
        </div>
        <div class="col-sm">
          <div class="col-sm">Telemóvel</div>
          <input type="number" :disabled="order != null" class="form-control" v-model="phoneNumber" />
        </div>
        <div class="col-sm">
          <div class="col-sm">Ordenar por data:</div>
          <select v-model="order" @change="onOrderSelect($event)" class="form-control">
            <option :value="null" selected></option>
            <option value="asc">Asc</option>
            <option value="desc">Desc</option>
          </select>
        </div>
      </div>

      <b-button :disabled="processing" @click="filter()" variant="warning" class="btn-lg mt-2 mb-4" block>Filtrar</b-button>

      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>Data da reserva</th>
            <th>Restaurante</th>
            <th>Quantidade de clientes</th>
            <th>Cliente</th>
            <th>Telemóvel</th>
            <th>Estado</th>
            <th>Pago</th>
            <th>Comentário</th>
            <th>Cancelado</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="reservation in reservations" v-bind:key="reservation.id">
            <td>{{ reservation.data }}</td>
            <td>{{ reservation.restaurante }}</td>
            <td>{{ reservation.numeroPessoas }}</td>
            <td>{{ reservation.nome }}</td>
            <td>{{ reservation.telemovel }}</td>
            <td>{{ reservationStatus(reservation.estado) }}</td>
            <td>{{ reservationPayed(reservation.pago) }}</td>
            <td>{{ reservation.comentario }}</td>
            <td>{{ reservationDisabled(reservation.cancelado) }}</td>
            <td>
                        <button
                        :class="reservation.id"
                        v-if="loggedRole === 'admin' && !reservation.cancelado"
                          @click="deactivateReservation(reservation)"
                          class="btn btn-danger btn-lg"
                        >Desativar</button>
                        <button
                        :class="reservation.id"
                        v-if="loggedRole === 'admin' && reservation.cancelado"
                          @click="activateReservation(reservation)"
                          class="btn btn-info btn-lg"
                        >Ativar</button>
                      <button
                      :class="reservation.id"
                      v-if="reservation.estado === 'em espera'"
                        @click="refuseReservation(reservation)"
                        class="btn btn-dark btn-lg"
                      >Recusar</button>
                      <button
                      :class="reservation.id"
                      v-if="reservation.estado === 'em espera'"
                        @click="acceptReservation(reservation)"
                        class="btn btn-warning btn-lg"
                      >Aceitar</button>
                <button
                    class="btn btn-success btn-lg"
                    @click="editReservation(reservation)"
                  >Editar</button>
                  <button 
                    v-if="reservation.pago"
                    class="btn btn-primary btn-lg"
                    @click="detailsReservation(reservation)"
                  >Detalhes</button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr class="table-secondary">
            <td colspan="10" style="padding: 8px;">
              <div align="right">
                <a>Numero de Linhas: </a>
                <select v-model="pageSize" @change="resizePage()">
                  <option value="5" selected>5</option>
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                </select>
                <button
                  class="btn btn-secondary btn-sm"
                  :disabled="currentPage == 0 || processing"
                  @click="firstPage()"
                >0</button>
                <button
                  class="btn btn-secondary btn-sm"
                  :disabled="currentPage == 0 || processing"
                  @click="previousPage()"
                ><</button> <!-- não é um erro -->
                {{ currentPage }}
                <button
                  class="btn btn-secondary btn-sm"
                  :disabled="lastPage || processing"
                  @click="nextPage()"
                >></button>
              </div>
            </td>
          </tr>
        </tfoot>
      </table>
      <div class="jumbotron" v-if="editingReservation">
          <reservation-edit
            :reservation="currentReservation"
            @cancel-edit="cancelEdit"
          ></reservation-edit>
        </div>
        
  </div>
</template>

<script>
export default {
  data() {
    return {
        disabled: null,
        status: null,
        payed: null,
        restaurant: "",
        phoneNumber: "",
        order: null,
        disabled: null,
        status: null,
        payed: null,
        restaurant: "",
        phoneNumber: "",
        order: null,
        currentPage: 0,
        pageSize: 5,
        currentReservation: null,
        processing: false,
        flag: 0,
        reservations: [],
        updatingStatusReservation: false,
        loggedRole: "",
        lastPage: false,
        editingReservation: false,
    };
  },
  methods: {
    onOrderSelect(event){
      this.phoneNumber = "";
      this.restaurant = "";
      this.disabled = null;
      this.status = null;
      this.payed = null;
    },
    reservationStatus(status){
      if (status === "aceite") {
        return 'Aceite';
      }
      if (status === "em espera") {
        return 'Em espera';
      }
      if (status === "recusado") {
        return 'Recusado';
      }
      return 'Unexpected Status';
    },
    reservationDisabled(disabled){
      if (disabled) {
        return 'Sim';
      }else{
        return 'Não';
      }
    },
    reservationPayed(payed){
      if (payed) {
        return 'Sim';
      }else{
        return 'Não';
      }
    },
    increaseFlag(){
      this.flag++;
    },
    updateList(reservation){
      this.reservations.push(reservation)
    },
    toggleDisable(className, value){
      var aux = document.getElementsByClassName(className);
      for (var i = 0; i < aux.length; i++) {
        aux[i].disabled = value;
      }
    },
    activateReservation(reservation) {
      this.toggleDisable(reservation.id, true);
      axios
        .put(
          `/api/reservation/${reservation.id}/activate`,
          {},
          {
            headers: {
              Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
          }
        )
        .then(response => {
          this.$toasted.show(response.data.msg);
          reservation.cancelado = false;
          this.toggleDisable(reservation.id, false);
        })
        .catch(error => {
          this.toggleDisable(reservation.id, false);
        });
    },
    deactivateReservation(reservation) {
      this.toggleDisable(reservation.id, true);
      axios
        .put(
          `/api/reservation/${reservation.id}/deactivate`,
          {},
          {
            headers: {
              Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
          }
        )
        .then(response => {
          this.$toasted.show(response.data.msg);
          reservation.cancelado = true;
          this.toggleDisable(reservation.id, false);
        })
        .catch(error => {
          this.toggleDisable(reservation.id, false);
        });
    },
    cancelEdit() {
      this.editingReservation = false;
    },
    editReservation(reservation) {
      if(this.currentReservation == reservation){
        this.editingReservation = !this.editingReservation;
        return;
      }

      this.currentReservation = reservation;
      this.editingReservation = false;
      this.editingReservation = true;
    },
    detailsReservation(reservation){
        this.$router.push(`/backoffice/reservation/${reservation.id}/order`).catch(error =>{
          console.log(error);
        });
    },
    acceptReservation(reservation){
      this.toggleDisable(reservation.id, true);
      axios
        .put(
          `/api/reservation/${reservation.id}/accept`,
          {},
          {
            headers: {
              Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
          }
        )
        .then(response => {
          this.$toasted.show(response.data.msg);
          reservation.estado = "aceite";
          this.toggleDisable(reservation.id, false);
        })
        .catch(error => {
          this.toggleDisable(reservation.id, false);
        });
    },
    refuseReservation(reservation){
      this.toggleDisable(reservation.id, true);
      axios
        .put(
          `/api/reservation/${reservation.id}/refuse`,
          {},
          {
            headers: {
              Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
          }
        )
        .then(response => {
          this.$toasted.show(response.data.msg);
          reservation.estado = "recusado";
          this.toggleDisable(reservation.id, false);
        })
        .catch(error => {
          this.toggleDisable(reservation.id, false);
        });
    },
    getReservations(page){
      this.processing = true;
      axios.get("/api/reservations?" + this.querryString, {
        headers: {
          Authorization: "Bearer " + sessionStorage.getItem("id_token")
        }
      })
      .then(response => {
          if(response.data.reservations != null){
              this.reservations = response.data.reservations;
          }
          if(response.data.pagination != null){
          this.lastPage = response.data.pagination.lastPage
        }
          this.processing = false;
      })
      .catch(error => {
        this.processing = false;
      });
    },
    firstPage(){
      this.currentPage = 0;
      this.getReservations(this.currentPage);
    },
    previousPage(){
      this.currentPage--;
      this.getReservations(this.currentPage);
    },
    nextPage(){
      this.currentPage++;
      this.getReservations(this.currentPage);
    },
    resizePage(){
      this.getReservations(this.currentPage);
    },
    filter(){
      this.currentPage = 0;
      this.getReservations(this.currentPage);
    },
  },
  computed: {
    querryString() {
      let qSConponentes = [];

      qSConponentes.push(`page=${this.currentPage}&pageSize=${this.pageSize}`);

      if (this.phoneNumber.length > 0) {
        qSConponentes.push(`phoneNumber=${this.phoneNumber}`);
      }
      if (this.restaurant.length > 0) {
        qSConponentes.push(`restaurant=${this.restaurant}`);
      }
      if (this.disabled != null) {
        qSConponentes.push(`disabled=${this.disabled}`);
      }
      if (this.status != null) {
        qSConponentes.push(`status=${this.status}`);
      }
      if (this.payed != null) {
        qSConponentes.push(`payed=${this.payed}`);
      }
      if (this.order != null) {
        qSConponentes.push(`order=${this.order}`);
      }

      return qSConponentes.join("&");
    }
  },
  mounted() {
    this.processing = true;
    this.loggedRole = sessionStorage.getItem("role");
    axios.get(`/api/reservations?page=${this.currentPage}&pageSize=${this.pageSize}`, {
        headers: {
          Authorization: "Bearer " + sessionStorage.getItem("id_token")
        }
      })
      .then(response => {
          if(response.data.reservations != null){
              this.reservations = response.data.reservations;
          }
          if(response.data.pagination != null){
            this.lastPage = response.data.pagination.lastPage
          }
          this.processing = false;
      })
      .catch(error => {
        this.processing = false;
      });
  },

};
</script>

<style scoped>
table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
</style>