<template>
  <div>
      <div class="p-5 col-md-12 text-center" >
        <a class="separator">Reserva</a>
      </div>

      <div class="jumbotron">
          <div>
            <h2 class="font-weight-bold">Data da reserva:</h2>
            <h2>{{date}}</h2>
          </div>

          <br>

          <div>
            <h2 v-if="comment !== ''" class="font-weight-bold">Comentário:</h2>
            <h2>{{comment}}</h2>
          </div>
      </div>
      
        <div class="pb-5 col-md-12 text-center" >
          <a class="separator">Pedido</a>
        </div>

        <vue-good-table
            ref="vuegoodtable"
            :columns="columns"
            :rows="this.order"
            :search-options="{enabled: true, placeholder: 'Procura na tabela'}"
            :pagination-options="{ enabled: true, mode: 'pages', perPageDropdown: [10, 25, 50], dropdownAllowAll: false}">
            <template slot="table-row" slot-scope="props">
                <span v-if="props.column.field == 'preco'">
                <span v-if="props.row.promocao">
                    {{props.row.preco}} Pts.
                </span>
                <span v-else>
                    {{props.row.preco}} €
                </span>
                </span>
            </template>
        </vue-good-table>

      <br>

      <div class="pb-5 col-md-12 text-center" >
        <a class="separator">Cliente</a>
      </div>

      <div class="jumbotron">
          <div>
            <h2 class="font-weight-bold">Nome</h2>
            <h2>{{nome}}</h2>
          </div>

          <br>

          <div>
            <h2 class="font-weight-bold">Telemóvel</h2>
            <h2>{{telemovel}}</h2>
          </div>
      </div>

      <div class="form-group">
        <button class="btn btn-warning btn-lg btn-block" v-on:click.prevent="back">Voltar</button>
      </div>

  </div>
</template>

<script>
export default {
  data() {
    return {
        reservationId: "",
        pago: false,
        reservation: null,
        comment: "",
        date: "",
        nome: "",
        telemovel: "",
        user: null,
        order: [],
        columns: [
          {
            label: 'Quantidade',
            field: 'quantidade',
            sortable: false,
          },
          {
            label: 'Menu',
            field: 'menu',
          },
          {
            label: 'Preço',
            field: 'preco',
            sortable: false,
          }
        ]
    };
  },
  methods: {
    back(){
        this.$router.go(-1);
    },
  },
  computed: {

  },
  mounted() {
    this.reservationId = this.$route.params.reservationId
    
    axios.get(`/api/reservation/${this.reservationId}`, {
        headers: {
          Authorization: "Bearer " + sessionStorage.getItem("id_token")
        }
      })
      .then(response => {
          if(response.data.reservation != null){
            this.reservation = response.data.reservation;
            this.comment = this.reservation.comentario;
            this.pago = this.reservation.pago;
            this.date = this.reservation.data;
            this.telemovel = this.reservation.telemovel;
            this.nome = this.reservation.nome;
            if(response.data.order != null){
              this.order = response.data.order;
            }
          }
      })
      .catch(error => {

      });
      
  },
};
</script>

<style scoped>

</style>