<template>
  <div>
        <b-button v-b-toggle.collapse-1 variant="success" class="btn-lg" block>Enviar Notificação</b-button>
        <b-collapse id="collapse-1" class="mt-2">
            <b-card>
              <div class="p-5 col-md-12 text-center" >
                  <a class="separator">Enviar Notificação</a>
                </div>

                <validation-errors :errors="validationErrors" v-if="validationErrors"></validation-errors>

                <div class="form-group">
                    <label for="title">Título</label>
                    <input v-model="title" id="title" name="title" class="form-control" :class="{ 'is-invalid': submitted && $v.title.$error }"/>
                    <div v-if="submitted && $v.title.$error" class="invalid-feedback">
                    <span v-if="!$v.title.required">Título é obrigatório</span>
                    <span v-if="!$v.title.minLength">Título tem de ter mais de 1 caracteres</span>
                    <span v-if="!$v.title.maxLength">Título tem de ter menos que 64 caracteres</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="message">Mensagem</label>
                    <textarea v-model="message" id="message" name="message" type="textarea" class="form-control" :class="{ 'is-invalid': submitted && $v.message.$error }"/>
                    <div v-if="submitted && $v.message.$error" class="invalid-feedback">
                    <span v-if="!$v.message.required">Mensagem é obrigatório</span>
                    <span v-if="!$v.message.minLength">Mensagem tem de ter mais de 1 caracteres</span>
                    <span v-if="!$v.message.maxLength">Mensagem tem de ter menos que 256 caracteres</span>
                    </div>
                </div>

                <div class="form-group">
                  <label for="image">Imagem</label>
                  <br>
                  <input type="file" accept="image/png" id="image" name="image" class="form-control-file" @change="imageChanged"/>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block" :disabled="processing" v-on:click.prevent="createMessage">Enviar</button>
                </div>
            </b-card>
            <br>
        </b-collapse>
  </div>
</template>

<script>
import { required, decimal, between, minLength, maxLength, integer, minValue } from "vuelidate/lib/validators";

export default {
  data() {
    return {
        submitted: false,
        validationErrors: "",
        title: "",
        message: "",
        image: null,
        processing: false
    };
  },
  validations: {
    title: {
      required,
      minLength: minLength(2),
      maxLength: maxLength(64),
    },
    message: {
      required,
      minLength: minLength(2),
      maxLength: maxLength(255),
    }
  },
  methods: {
    createMessage(){
      this.submitted = true;
      this.$v.$touch();

      if (!this.$v.$invalid) {

        if(this.processing){
          return;
        }else{
          this.processing = true;
        }


        this.validationErrors = "";

        axios.post("api/notification", {
            title: this.title,
            message: this.message,
            image: this.image
          },
          {
            headers: {
              Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
          })
          .then(response => {
            this.$emit("notification-created", response.data.data);
            this.$toasted.show('Notificação enviada!');
            this.processing = false;
          })
          .catch(error => {
            if(error != null){
              if (error.response.status == 422) {
                this.validationErrors = error.response.data.errors;
              }
            }
            this.processing = false;
          });
      }
    },
    imageChanged(event) {
            let fileReader = new FileReader();
            try{
                fileReader.readAsDataURL(event.target.files[0]);
                fileReader.onload = event => {
                    this.image = event.target.result;
                };
            }catch(error){
              console.log(error);
            }
        }
  },
  computed: {

  },
  mounted() {

  },

};
</script>

<style>

</style>