<template>
  <div>
        <div class="p-5 col-md-12 text-center" >
          <a class="separator">Lista de Notificações</a>
        </div>
        
        <message-create @notification-created="updateList"></message-create>
        
        <vue-good-table
        ref="vuegoodtable"
        :columns="columns"
        :rows="this.notifications"
        :search-options="{enabled: true, placeholder: 'Procura na tabela'}"
          @on-page-change="onPageChange"
          @on-per-page-change="onPageSizeChange"
        :pagination-options="{ enabled: true, mode: 'pages', perPageDropdown: [5 ,10, 25, 50], dropdownAllowAll: false}">
          <template slot="table-row" slot-scope="props">
            <span v-if="props.column.field == 'disabled'">
              <span v-if="props.row.disabled">
                Sim
              </span>
              <span v-else>
                Não
              </span>
            </span>
            <span v-else-if="props.column.field == 'image'">
                <img v-bind:src="props.row.image" height="70" width="70" />
            </span>
            <span v-else-if="props.column.field == 'actions'">
                <span v-if="!props.row.disabled">
                      <button
                        @click="deactivateNotification(props)"
                        class="btn btn-danger btn-lg"
                      >Desativar</button>
                </span>
                <span v-else>
                      <button
                        @click="activateNotification(props)"
                        class="btn btn-info btn-lg"
                      >Ativar</button>
                </span>
            </span>
          </template>
        </vue-good-table>
  </div>
</template>

<script>
export default {
  data() {
    return {
        currentPage: 0,
        currentPageSize: 5,
        notifications: [],
        columns: [
          {
            label: 'Imagem',
            field: 'image',
            sortable: false
          },
          {
            label: 'Título',
            field: 'titulo',
            filterOptions: {
              enabled: true,
            }
          },
          {
            label: 'Mensagem',
            field: 'mensagem',
            filterOptions: {
              enabled: true,
            }
          },
          {
            label: 'Data da publicação',
            field: 'data',
            filterOptions: {
              enabled: true,
            }
          },
          {
            label: 'Desativado',
            field: 'disabled',
            sortable: false,
            filterOptions: {
              enabled: true,
              placeholder: " ",
              filterDropdownItems: [  
                { value: true, text: 'Sim' },  
                { value: false, text: 'Não' }
              ],
            }
          },
          {
            label: 'Ações',
            field: 'actions',
            sortable: false,
            width: '200px'
          }
        ]
    };
  },
  methods: {
    onPageChange(params){
      this.currentPage = params.currentPage - 1;
    },
    onPageSizeChange(params){
      this.currentPageSize = params.currentPerPage
    },
    updateList(notification){
      this.notifications.push(notification)
    },
    activateNotification(props) {
      axios
        .put(
          `/api/notification/${props.row.id}/activate`,
          {},
          {
            headers: {
              Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
          }
        )
        .then(response => {
          this.$toasted.show(response.data.msg);
          this.notifications[props.index + (this.currentPage * this.currentPageSize)].disabled = false;
        })
        .catch(error => {

        });
    },
    deactivateNotification(props) {
      axios
        .put(
          `/api/notification/${props.row.id}/deactivate`,
          {},
          {
            headers: {
              Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
          }
        )
        .then(response => {
          this.$toasted.show(response.data.msg);
          this.notifications[props.index + (this.currentPage * this.currentPageSize)].disabled = true;
        })
        .catch(error => {

        });
    },
  },
  computed: {

  },
  mounted() {
    axios.get("/api/notifications", {
        headers: {
          Authorization: "Bearer " + sessionStorage.getItem("id_token")
        }
      })
      .then(response => {
          if(response.data.notificacoes != null){
              this.notifications = response.data.notificacoes;
          }
      })
      .catch(error => {

      });
  },

};
</script>

<style scoped>

</style>