<template>
  <div>
        <!-- Add user -->
        <b-button v-b-toggle.collapse-1 variant="success" class="btn-lg" block>Criar Utilizador</b-button>
        <b-collapse id="collapse-1" class="mt-2">
            <b-card>
              <div class="p-5 col-md-12 text-center" >
                  <a class="separator">Criar Utilizador</a>
                </div>

                <validation-errors :errors="validationErrors" v-if="validationErrors"></validation-errors>

                <div class="form-group">
                  <label for="photo">Imagem</label>
                  <br>
                  <input type="file" accept="image/jpeg" id="photo" name="photo" class="form-control-file" @change="imageChanged"/>
                </div>

                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input v-model="nome" id="nome" name="nome" class="form-control" :class="{ 'is-invalid': submitted && $v.nome.$error }"/>
                    <div v-if="submitted && $v.nome.$error" class="invalid-feedback">
                    <span v-if="!$v.nome.required">Nome é obrigatório</span>
                    <span v-if="!$v.nome.minLength">Nome tem de ter mais de 1 caracteres</span>
                    <span v-if="!$v.nome.maxLength">Nome tem de ter menos que 64 caracteres</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input v-model="email" id="email" name="email" class="form-control" :class="{ 'is-invalid': submitted && $v.email.$error }"/>
                    <div v-if="submitted && $v.email.$error" class="invalid-feedback">
                    <span v-if="!$v.email.required">E-mail é obrigatório</span>
                    <span v-if="!$v.email.email">E-mail inválido</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="telemovel">Telemóvel</label>
                    <input v-model="telemovel" id="telemovel" name="telemovel" class="form-control" :class="{ 'is-invalid': submitted && $v.telemovel.$error }"/>
                    <div v-if="submitted && $v.telemovel.$error" class="invalid-feedback">
                    <span v-if="!$v.telemovel.required">Telemovel é obrigatório</span>
                    <span v-if="!$v.telemovel.minLength">Telemovel tem de ter mais que 2 numeros</span>
                    <span v-if="!$v.telemovel.maxLength">Telemovel tem de ter menos que 16 numeros</span>
                    <span v-if="!$v.telemovel.minValue">Telemovel tem de ser positivo</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" v-model="password" id="password" name="password" class="form-control" :class="{ 'is-invalid': submitted && $v.password.$error }"/>
                    <div v-if="submitted && $v.password.$error" class="invalid-feedback">
                    <span v-if="!$v.password.required">Password é obrigatório</span>
                    <span v-if="!$v.password.minLength">Password tem de ter mais de 2 caracteres</span>
                    <span v-if="!$v.password.maxLength">Password tem de ter menos que 21 caracteres</span>
                    </div>
                </div>

                <div class="form-group">
                    <label>Função</label>
                    <select
                        class="form-control"
                        id="role"
                        v-model="role"
                        required
                        :class="{ 'is-invalid': submitted && $v.role.$error }"
                    >
                        <option value="admin">Administrador</option>
                        <option value="employee">Empregado</option>
                    </select>
                    <div v-if="submitted && $v.role.$error" class="invalid-feedback">
                        <span v-if="!$v.role.required">Role é obrigatório</span>
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block" :disabled="processing" v-on:click.prevent="createUser">Criar</button>
                </div>
            </b-card>
            <br>
        </b-collapse>
        <!-- /Add user -->

  </div>
</template>

<script>
import { required, minLength, maxLength, integer, minValue, email } from "vuelidate/lib/validators";

export default {
  data() {
    return {
        email: "",
        password: "",
        submitted: false,
        validationErrors: "",
        nome: "",
        role: "",
        telemovel: "",
        photo: null,
        processing: false
    };
  },
  validations: {
    email: {
      required,
      email
    },
    password: {
      required,
      minLength: minLength(3),
      maxLength: maxLength(20)
    },
    nome: {
        required,
        minLength: minLength(2),
        maxLength: maxLength(64),
    },
    telemovel: {
        required,
        minValue: minValue(1),
        minLength: minLength(3),
        maxLength: maxLength(16),
    },
    role: {
        required,
    },
  },
  methods: {
    createUser(){
      this.submitted = true;
      this.$v.$touch();

      if (!this.$v.$invalid) {

        if(this.processing){
          return;
        }else{
          this.processing = true;
        }

        this.validationErrors = "";

        axios.post("api/user", {
            nome: this.nome,
            email: this.email,
            telemovel: this.telemovel,
            password: this.password,
            photo: this.photo,
            role: this.role,
          },
          {
            headers: {
              Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
          })
          .then(response => {
            this.$emit("user-created", response.data.data);
            this.$toasted.show('Utilizador criado!');
            this.processing = false;
          })
          .catch(error => {
            if(error != null){
              if (error.response.status == 422) {
                this.validationErrors = error.response.data.errors;
              }
            }
            this.processing = false;
          });
      }
    },
    imageChanged(event) {
        let fileReader = new FileReader();
        try{
          fileReader.readAsDataURL(event.target.files[0]);
          fileReader.onload = event => {
            this.photo = event.target.result;
          };
        }catch(error){
          console.log(error);
        }
    }
  },
  computed: {

  },
  mounted() {

  },

};
</script>

<style>

</style>