<template>
  <div>
            <b-card>
                <h2>Editar {{user.nome}}</h2>
                
                <validation-errors :errors="validationErrors" v-if="validationErrors"></validation-errors>

                <div class="form-group">
                  <label for="photo">Imagem</label>
                  <br>
                  <input type="file" accept="image/jpeg" id="photo" name="photo" class="form-control-file" @change="imageChanged"/>
                </div>

                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input v-model="user.nome" id="nome" name="nome" class="form-control" :class="{ 'is-invalid': submitted && $v.nome.$error }"/>
                    <div v-if="submitted && $v.nome.$error" class="invalid-feedback">
                    <span v-if="!$v.nome.required">Nome é obrigatório</span>
                    <span v-if="!$v.nome.minLength">Nome tem de ter mais de 1 caracteres</span>
                    <span v-if="!$v.nome.maxLength">Nome tem de ter menos que 64 caracteres</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="telemovel">Telemóvel</label>
                    <input v-model="user.telemovel" id="telemovel" type="tel" name="telemovel" class="form-control" :class="{ 'is-invalid': submitted && $v.telemovel.$error }"/>
                    <div v-if="submitted && $v.telemovel.$error" class="invalid-feedback">
                    <span v-if="!$v.telemovel.required">Telemovel é obrigatório</span>
                    <span v-if="!$v.telemovel.minLength">Telemovel tem de ter mais que 2 numeros</span>
                    <span v-if="!$v.telemovel.maxLength">Telemovel tem de ter menos que 16 numeros</span>
                    <span v-if="!$v.telemovel.minValue">Telemovel tem de ser positivo</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" v-model="user.password" id="password" name="password" class="form-control" :class="{ 'is-invalid': submitted && $v.password.$error }"/>
                    <div v-if="submitted && $v.password.$error" class="invalid-feedback">
                    <span v-if="!$v.password.required">Password é obrigatório</span>
                    <span v-if="!$v.password.minLength">Password tem de ter mais de 2 caracteres</span>
                    <span v-if="!$v.password.maxLength">Password tem de ter menos que 21 caracteres</span>
                    </div>
                </div>

                <div v-if="loggedUid !== user.uid" class="form-group">
                    <label>Função</label>
                    <select
                        class="form-control"
                        id="role"
                        v-model="user.role"
                        required
                        :class="{ 'is-invalid': submitted && $v.role.$error }"
                    >
                        <option value="admin">Administrador</option>
                        <option value="employee">Empregado</option>
                    </select>
                    <div v-if="submitted && $v.role.$error" class="invalid-feedback">
                        <span v-if="!$v.role.required">Role é obrigatório</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="pontos">Pontos</label>
                    <input v-model="user.pontos" id="pontos" name="pontos" class="form-control" :class="{ 'is-invalid': submitted && $v.pontos.$error }"/>
                    <div v-if="submitted && $v.pontos.$error" class="invalid-feedback">
                    <span v-if="!$v.pontos.required">Pontos é obrigatório</span>
                    <span v-if="!$v.pontos.integer">Pontos só pode ser constituido por numeros</span>
                    <span v-if="!$v.pontos.minValue">Pontos tem de ser positivo</span>
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block" v-on:click.prevent="saveUser">Guardar</button>
                </div>
                <div class="form-group">
                    <button class="btn btn-danger btn-lg btn-block" v-on:click.prevent="cancelEdit">Cancel</button>
                </div>
            </b-card>
  </div>
</template>

<script>
import { required, minLength, maxLength, integer, minValue, email } from "vuelidate/lib/validators";

export default {
  props: ["user"],
  data: function() {
    return {
        loggedUid: "",
        beforeUserNome: null,
        beforeUserTelemovel: "",
        beforeUserRole: null,
        beforeUserPontos: null,
        beforeUserPassword: null,
        submitted: false,
        validationErrors: "",
        nome: "",
        telemovel: "+351",
        role: "",
        pontos: null,
        email: "",
        password: "",
        photo: null,
    };
  },
  validations: {
    password: {
      minLength: minLength(3),
      maxLength: maxLength(20)
    },
    nome: {
        required,
        minLength: minLength(2),
        maxLength: maxLength(64),
    },
    telemovel: {
        required,
        minValue: minValue(1),
        minLength: minLength(3),
        maxLength: maxLength(16),
    },
    role: {
        required,
    },
    pontos: {
        required,
        integer,
        minValue: minValue(0),
    },
  },
  methods: {
    saveUser: function() {
        this.nome = this.user.nome;
        this.telemovel = this.user.telemovel;
        this.role = this.user.role;
        this.pontos = this.user.pontos;
        this.password = this.user.password;
        
        this.submitted = true;
        this.$v.$touch();

        if (!this.$v.$invalid) {
            this.validationErrors = "";

            axios.put(`/api/user/${this.user.uid}`, {
                nome: this.nome,
                telemovel: this.telemovel,
                role: this.role,
                pontos: this.pontos,
                password: this.password,
                photo: this.photo
            }, 
            {
                headers: {
                    Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
            })
            .then(response => {
                this.beforeUserNome = this.user.nome;
                this.beforeUserTelemovel = this.user.telemovel;
                this.beforeUserRole = this.user.role;
                this.beforeUserPontos = this.user.pontos;
                this.beforeUserPassword = this.user.password;
                this.user.photo = response.data.user.photo + "?" + new Date().getTime();
                this.$emit("cancel-edit");
                this.$toasted.show("utilizador editado com successo");
            })
            .catch(error => {
                if(error != null){
                    if (error.response.status == 422) {
                        this.validationErrors = error.response.data.errors;
                    }
                }
            });
      }
    },
    cancelEdit: function() {
      this.user.nome = this.beforeUserNome;
      this.user.telemovel = this.beforeUserTelemovel;
      this.user.role = this.beforeUserRole;
      this.user.pontos = this.beforeUserPontos;
      this.user.password = this.beforeUserPassword;
      this.$emit("cancel-edit");
    },
    imageChanged(event) {
        let fileReader = new FileReader();
        try{
            fileReader.readAsDataURL(event.target.files[0]);
            fileReader.onload = event => {
                this.photo = event.target.result;
            };
        }catch(error){
            console.log(error);
        }
    }
  },
  mounted() {
      this.loggedUid = sessionStorage.getItem("uid");
      this.beforeUserNome = this.user.nome;
      this.beforeUserTelemovel = this.user.telemovel;
      this.beforeUserRole = this.user.role;
      this.beforeUserPontos = this.user.pontos;
      this.beforeUserPassword = this.user.password;
  },
};
</script>

<style scoped>

</style>