<template>
  <div>
    <div class="p-5 col-md-12 text-center" >
      <a class="separator">Lista de Utilizadores</a>
    </div>

    <user-create @user-created="updateList"></user-create>

    <div class="row">
      <div class="col-sm">
        <div class="col-sm">Nome</div>
        <input type="text" :disabled="order != null" class="form-control" v-model="name" />
      </div>
      <div class="col-sm">
        <div class="col-sm">Telemóvel</div>
        <input type="number" :disabled="order != null" class="form-control" v-model="phoneNumber" />
      </div>
      <div class="col-sm">
        <div class="col-sm">E-mail</div>
        <input type="text" :disabled="order != null" class="form-control" v-model="email" />
      </div>
      <div class="col-sm">
        <div class="col-sm">Função</div>
        <select v-model="role" :disabled="order != null" class="form-control">
          <option :value="null" selected></option>
          <option value="admin">Administrador</option>
          <option value="employee">Empregado</option>
          <option value="client">Cliente</option>
        </select>
      </div>
      <div class="col-sm">
        <div class="col-sm">Desativado</div>
        <select v-model="disabled" :disabled="order != null" class="form-control">
          <option :value="null" selected></option>
          <option value="1">Sim</option>
          <option value="0">Não</option>
        </select>
      </div>
      <div class="col-sm">
        <div class="col-sm">Ordenar por pontos:</div>
        <select v-model="order" @change="onOrderSelect($event)" class="form-control">
          <option :value="null" selected></option>
          <option value="asc">Asc</option>
          <option value="desc">Desc</option>
        </select>
      </div>
    </div>

    <b-button :disabled="processing" @click="filter()" variant="warning" class="btn-lg mt-2 mb-4" block>Filtrar</b-button>

    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th>Foto</th>
          <th>Nome</th>
          <th>Telemóvel</th>
          <th>E-mail</th>
          <th>Função</th>
          <th>Pontos</th>
          <th>Desativado</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="user in users" v-bind:key="user.uid">
          <td><img v-bind:src="user.photo" height="70" width="70" /></td>
          <td>{{ user.nome }}</td>
          <td>{{ user.telemovel }}</td>
          <td>{{ user.email }}</td>
          <td>{{ userRole(user.role) }}</td>
          <td>{{ user.pontos }}</td>
          <td>{{ userDisabled(user.disabled) }}</td>
          <td>
            <button
              v-if="user.uid != loggedUid && !user.disabled"
              @click="deactivateUser(user)"
              class="btn btn-danger btn-lg"
            >Desativar</button>
            <button
              v-if="user.uid != loggedUid && user.disabled"
              @click="activateUser(user)"
              class="btn btn-info btn-lg"
            >Ativar</button>
            <button
                class="btn btn-success btn-lg"
                @click="editUser(user)"
                >Editar</button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="table-secondary">
          <td colspan="8" style="padding: 8px;">
            <div align="right">
              <a>Numero de Linhas: </a>
              <select v-model="pageSize" @change="resizePage()">
                <option value="5" selected>5</option>
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
              </select>
              <button
                class="btn btn-secondary btn-sm"
                :disabled="currentPage == 0 || processing"
                @click="firstPage()"
              >0</button>
              <button
                class="btn btn-secondary btn-sm"
                :disabled="currentPage == 0 || processing"
                @click="previousPage()"
              ><</button> <!-- não é um erro -->
              {{ currentPage }}
              <button
                class="btn btn-secondary btn-sm"
                :disabled="lastPage || processing"
                @click="nextPage()"
              >></button>
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
    <div class="jumbotron" v-if="editUserAccount">
        <user-information
          :user="currentUser"
          @cancel-edit="cancelEdit"
        ></user-information>
    </div>


  </div>
</template>

<script>
import { required, email, minLength, maxLength } from "vuelidate/lib/validators";

export default {
  data() {
    return {
        name: "",
        phoneNumber: "",
        email: "",
        disabled: null,
        role: null,
        order: null,
        users: [],
        loggedUid: "",
        editUserAccount: false,
        currentUser: null,
        currentPage: 0,
        pageSize: 5,
        processing: false,
        lastPage: false,
    };
  },
  methods: {
    onOrderSelect(event){
      this.name = "";
      this.phoneNumber = "";
      this.email = "";
      this.disabled = null;
      this.role = null;
    },
    userDisabled(disabled){
      if (disabled) {
        return 'Sim';
      }else{
        return 'Não';
      }
    },
    userRole(role){
      if (role === "admin") {
        return 'Administrador';
      }
      if (role === "employee") {
        return 'Empregado';
      }
      if (role === "client") {
        return 'Cliente';
      }
      return 'Unexpected Role';
    },
    cancelEdit() {
      this.editUserAccount = false;
    },
    userAccStatus(disabled) {
      if (!disabled) {
        return "Ativo";
      }
      return "Inátivo";
    },
    userEmailVerified(verified) {
      if (verified) {
        return "Sim";
      }
      return "Não";
    },
    updateList(user){
      this.users.push(user)
    },
    editUser(user) {
      if(this.currentUser == user){
        this.editUserAccount = !this.editUserAccount;
        return;
      }

      this.currentUser = user;
      if (this.editUserAccount == false) {
        this.editUserAccount = true;
      }
    },
    activateUser(user) {
      axios
        .put(
          `/api/user/${user.uid}/activate`,
          {},
          {
            headers: {
              Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
          }
        )
        .then(response => {
          this.$toasted.show(response.data.msg);
          user.disabled = false;
        })
        .catch(error => {

        });
    },
    deactivateUser(user) {
      axios
        .put(
          `/api/user/${user.uid}/deactivate`,
          {},
          {
            headers: {
              Authorization: "Bearer " + sessionStorage.getItem("id_token")
            }
          }
        )
        .then(response => {
          this.$toasted.show(response.data.msg);
          user.disabled = true;
        })
        .catch(error => {

        });
    },
    getUsers(page){
      this.processing = true;
      axios.get(`/api/users?` + this.querryString, {
        headers: {
          Authorization: "Bearer " + sessionStorage.getItem("id_token")
        }
      })
      .then(response => {
        if(response.data.users != null){
          this.users = response.data.users;
        }
        if(response.data.pagination != null){
          this.lastPage = response.data.pagination.lastPage
        }
        this.processing = false;
      })
      .catch(error => {
        this.processing = false;
      });
    },
    firstPage(){
      this.currentPage = 0;
      this.getUsers(this.currentPage);
    },
    previousPage(){
      this.currentPage--;
      this.getUsers(this.currentPage);
    },
    nextPage(){
      this.currentPage++;
      this.getUsers(this.currentPage);
    },
    resizePage(){
      this.getUsers(this.currentPage);
    },
    filter(){
      this.currentPage = 0;
      this.getUsers(this.currentPage);
    }
  },
  computed: {
    querryString() {
      let qSConponentes = [];

      qSConponentes.push(`page=${this.currentPage}&pageSize=${this.pageSize}`);

      if (this.name.length > 0) {
        qSConponentes.push(`name=${this.name}`);
      }
      if (this.phoneNumber.length > 0) {
        qSConponentes.push(`phoneNumber=${this.phoneNumber}`);
      }
      if (this.email.length > 0) {
        qSConponentes.push(`email=${this.email}`);
      }
      if (this.disabled != null) {
        qSConponentes.push(`disabled=${this.disabled}`);
      }
      if (this.role != null) {
        qSConponentes.push(`role=${this.role}`);
      }
      if (this.order != null) {
        qSConponentes.push(`order=${this.order}`);
      }

      return qSConponentes.join("&");
    }
  },
  mounted() {
    this.processing = true;
    this.loggedUid = sessionStorage.getItem("uid");
    axios.get(`/api/users?page=${this.currentPage}&pageSize=${this.pageSize}`, {
        headers: {
          Authorization: "Bearer " + sessionStorage.getItem("id_token")
        }
      })
      .then(response => {
        if(response.data.users != null){
          this.users = response.data.users;
        }
        if(response.data.pagination != null){
          this.lastPage = response.data.pagination.lastPage
        }
        this.processing = false;
      })
      .catch(error => {
        this.processing = false;
      });
  },

};
</script>

<style scoped>
table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
</style>